In [2]:
import formats.futures_strategy_formats as fsf
import formats.strategy_followup_formats as sff
import formats.risk_pnl_formats as rpf
import my_sql_routines.futures_price_loader as fpl
import my_sql_routines.my_sql_utilities as msu
import get_price.presave_price as pp
import opportunity_constructs.futures_butterfly as fb
import contract_utilities.expiration as exp
import ta.prepare_daily as prep
import ta.email_reports as er

writer_out = sff.generate_futures_butterfly_followup_report(as_of_date=report_date, con=con)
writer_out = sff.generate_spread_carry_followup_report(as_of_date=report_date, con=con, writer=writer_out)
sff.generate_vcs_followup_report(as_of_date=report_date, con=con, writer=writer_out)
prep.move_from_dated_folder_2daily_folder(ext='ta', file_name='followup', folder_date=report_date)

In [1]:
import signals.option_signals as ops
ops.get_vcs_signals(ticker1='ESM2016',ticker2='ESU2016',settle_date=20160322)

{'current': {'imp_vol_ratio': 0.9148910991765964},
 'hist':       settleDates  TickerYear1  TickerMonth1  trDTE1  calDTE1  underlying1  \
 0        19940103         1994             6     116      164       467.05
 1        19940104         1994             6     115      163       468.65
 2        19940105         1994             6     114      162       469.20
 3        19940106         1994             6     113      161       469.00
 4        19940107         1994             6     112      160       472.35
 5        19940110         1994             6     111      157       477.10
 6        19940111         1994             6     110      156       476.45
 7        19940112         1994             6     109      155       475.20
 8        19940113         1994             6     108      154       474.60
 9        19940114         1994             6     107      153       475.65
 10       19940117         1994             6     106      150       474.65
 11       19940118         1994             6     105      149       475.40
 12       19940119         1994             6     104      148       475.15
 13       19940120         1994             6     103      147       476.30
 14       19940121         1994             6     102      146       474.55
 15       19940124         1994             6     101      143       473.60
 16       19940125         1994             6     100      142       472.55
 17       19940126         1994             6      99      141       474.90
 18       19940127         1994             6      98      140       478.55
 19       19940128         1994             6      97      139       479.70
 20       19940131         1994             6      96      136       482.65
 21       19940201         1994             6      95      135       480.95
 22       19940202         1994             6      94      134       483.35
 23       19940203         1994             6      93      133       481.25
 24       19940204         1994             6      92      132       470.00
 25       19940207         1994             6      91      129       473.20
 26       19940208         1994             6      90      128       473.10
 27       19940209         1994             6      89      127       474.50
 28       19940210         1994             6      88      126       470.65
 29       19940211         1994             6      87      125       471.25
 ...           ...          ...           ...     ...      ...          ...
 4453     20150828         2016             1      96      140      1974.70
 4454     20150831         2016             1      95      137      1954.40
 4455     20150901         2016             1      94      136      1900.90
 4456     20150902         2016             1      93      135      1932.00
 4457     20150903         2016             1      92      134      1930.90
 4458     20150904         2016             1      91      133      1906.40
 4459     20150908         2016             1      90      129      1950.50
 4460     20150909         2016             1      89      128      1927.10
 4461     20150910         2016             1      88      127      1933.30
 4462     20150911         2016             1      87      126      1943.60
 4463     20150914         2016             1      86      123      1937.20
 4464     20150915         2016             1      85      122      1962.90
 4465     20150916         2016             1      84      121      1981.10
 4466     20150917         2016             1      83      120      1970.40
 4467     20150918         2016             1      82      119      1943.20
 4468     20150921         2016             1      81      116      1955.50
 4469     20150922         2016             1      80      115      1924.50
 4470     20150923         2016             1      79      114      1920.90
 4471     20150924         2016             1      78      113      1910.80
 4472     20150925         2016             1      77      112      1911.30
 4473     20150928         2016             1      76      109      1864.10
 4474     20150929         2016             1      75      108      1866.20
 4475     20150930         2016             1      74      107      1900.40
 4476     20151001         2016             1      73      106      1908.60
 4477     20151002         2016             1      72      105      1934.80
 4478     20151005         2016             1      71      102      1966.30
 4479     20151006         2016             1      70      101      1960.20
 4480     20151007         2016             1      69      100      1978.90
 4481     20151008         2016             3     110      161      1998.40
 4482     20151009         2016             3     109      160      1999.30

         atmVol1  strike1  theoValue1  theoPremium1      ...        \
 0     11.826979      470   12.900006    645.000315      ...
 1     11.678550      470   13.649954    682.497692      ...
 2     11.490110      470   13.700033    685.001659      ...
 3     11.314593      470   13.300048    665.002394      ...
 4     11.223900      475   12.299983    614.999151      ...
 5     11.324771      480   12.300036    615.001822      ...
 6     11.427629      475   14.885863    744.293165      ...
 7     11.324567      475   13.948188    697.409391      ...
 8     11.411064      475   13.649979    682.498932      ...
 9     11.418151      475   14.243759    712.187958      ...
 10    11.617775      475   13.750051    687.502575      ...
 11    11.695381      475   14.246298    712.314892      ...
 12    11.775798      475   14.148636    707.431793      ...
 13    11.468528      475   14.438095    721.904755      ...
 14    11.402997      475   13.249964    662.498188      ...
 15    11.534820      475   12.700015    635.000753      ...
 16    11.556954      475   12.050005    602.500248      ...
 17    11.203363      475   13.000053    650.002670      ...
 18    10.833275      480   11.849943    592.497158      ...
 19    10.670505      480   12.299995    614.999771      ...
 20    10.559429      485   10.950056    547.502804      ...
 21    10.783966      480   13.041756    652.087784      ...
 22    10.411939      485   11.099996    554.999781      ...
 23    10.724072      480   13.038865    651.943254      ...
 24    12.367100      470   13.799992    689.999580      ...
 25    11.897201      475   12.200024    610.001183      ...
 26    11.787928      475   11.950011    597.500563      ...
 27    11.478094      475   12.400050    620.002508      ...
 28    12.367387      470   13.894435    694.721746      ...
 29    12.378957      470   14.239262    711.963081      ...
 ...         ...      ...         ...           ...      ...
 4453  19.854817     1990   87.400101   4370.005035      ...
 4454  20.965870     1970   90.499863   4524.993134      ...
 4455  23.325959     1920   96.400047   4820.002365      ...
 4456  21.242264     1950   88.800110   4440.005493      ...
 4457  21.412781     1950   88.299873   4414.993668      ...
 4458  22.518435     1925   92.099976   4604.998779      ...
 4459  20.853013     1960   90.499847   4524.992371      ...
 4460  21.188715     1940   88.499855   4424.992752      ...
 4461  20.757668     1950   84.200066   4210.003281      ...
 4462  20.247442     1960   82.200012   4110.000610      ...
 4463  20.454787     1950   84.000153   4200.007629      ...
 4464  19.102219     1975   79.100014   3955.000687      ...
 4465  17.831951     1990   75.600136   3780.006790      ...
 4466  18.231797     1980   76.100029   3805.001450      ...
 4467  19.120879     1955   77.500137   3875.006866      ...
 4468  18.008271     1965   73.300133   3665.006638      ...
 4469  19.496612     1935   77.599854   3879.992676      ...
 4470  19.069417     1930   76.099953   3804.997635      ...
 4471  19.860901     1920   78.700203   3935.010147      ...
 4472  19.871543     1920   78.599846   3929.992294      ...
 4473  21.892843     1875   82.399872   4119.993591      ...
 4474  21.631883     1880   79.399834   3969.991684      ...
 4475  20.286655     1910   77.499916   3874.995804      ...
 4476  19.848941     1920   74.599998   3729.999924      ...
 4477  18.918012     1945   72.200180   3610.009003      ...
 4478  17.798732     1975   68.500160   3425.008011      ...
 4479  17.810526     1970   67.299812   3364.990616      ...
 4480  17.146581     1985   67.099976   3354.998779      ...
 4481  17.230254     2010   84.099937   4204.996872      ...
 4482  17.137960     2010   83.900230   4195.011520      ...

       pastAtmVolChange202  pastAtmVolChange12  expectedDailyMove2  optionPnL2  \
 0                     NaN                 NaN                 NaN         NaN
 1                     NaN           -0.062693                 NaN    0.849190
 2                     NaN           -0.033968                 NaN    0.241129
 3                     NaN            0.018770                 NaN   -0.096642
 4                     NaN           -0.251787                 NaN    1.453367
 5                     NaN            0.007024                 NaN    2.799989
 6                     NaN            0.054616                 NaN   -0.300036
 7                     NaN            0.048493                 NaN   -0.600059
 8                     NaN            0.002601                 NaN   -0.399925
 9                     NaN           -0.061032                 NaN    0.499951
 10                    NaN            0.143246                 NaN   -0.500028
 11                    NaN           -0.048887                 NaN    0.399987
 12                    NaN            0.165723                 NaN    0.000029
 13                    NaN           -0.183227                 NaN    0.300035
 14                    NaN            0.056437                 NaN   -0.900046
 15                    NaN           -0.073801                 NaN   -0.800030
 16                    NaN            0.143584                 NaN   -0.499972
 17                    NaN           -0.193638                 NaN    1.100057
 18                    NaN           -0.291431                 NaN    1.599956
 19                    NaN           -0.170129                 NaN    0.385716
 20              -0.841366           -0.111269                 NaN    1.409329
 21              -0.718541            0.060133                 NaN   -0.878404
 22              -0.740698           -0.056125                 NaN    1.049986
 23              -0.731646            0.027823                 NaN   -1.120018
 24               0.663167            1.143026                 NaN   -5.888505
 25               0.396646           -0.259497                 NaN    1.149981
 26               0.285134           -0.056896                 NaN   -0.149998
 27               0.076114           -0.160528                 NaN    0.499945
 28               0.738767            0.665254                 NaN   -1.693420
 29               0.923133            0.123334                 NaN    0.491520
 ...                   ...                 ...                 ...         ...
 4453             4.065789            0.454797                 NaN    2.899658
 4454             4.940891            0.882878                 NaN   -7.799746
 4455             6.404747            1.621416                 NaN  -24.445786
 4456             5.452729           -1.115115                 NaN   11.300183
 4457             5.302680            0.160163                 NaN    0.000306
 4458             6.137251            0.820678                 NaN  -10.499599
 4459             5.492829           -1.066450                 NaN   18.299934
 4460             5.317648            0.359577                 NaN  -13.099904
 4461             5.054105           -0.304678                 NaN    1.399866
 4462             4.707350           -0.292118                 NaN    4.299599
 4463             5.259185            0.364666                 NaN   -2.300243
 4464             4.426691           -1.078567                 NaN    8.799795
 4465             3.256243           -0.968756                 NaN    4.499854
 4466             3.124754            0.230231                 NaN   -5.600214
 4467             2.541289            0.573571                 NaN  -14.489850
 4468             0.159312           -0.754280                 NaN    2.299850
 4469            -1.226798            1.030576                 NaN  -14.177547
 4470            -1.395598           -0.265195                 NaN   -4.100304
 4471             0.655985            0.480686                 NaN   -3.299968
 4472             1.242481            0.108399                 NaN    0.600252
 4473             2.044687            1.257003                 NaN  -23.164696
 4474             0.985315           -0.176494                 NaN   -0.200276
 4475            -1.359296           -0.723195                 NaN   15.799690
 4476            -0.485961           -0.241780                 NaN    3.400266
 4477            -1.352067           -0.705943                 NaN   10.800344
 4478            -2.899607           -0.726862                 NaN   14.200031
 4479            -1.756643            0.076515                 NaN   -3.600248
 4480            -2.489213           -0.372993                 NaN    8.799968
 4481            -2.818773           -0.634237                 NaN    8.199843
 4482            -2.567592           -0.040937                 NaN    0.000442

       deltaPnL2  gammaPnL2  thetaPnL2     dSpot2  Theta30days2  imp_vol_ratio
 0           NaN        NaN        NaN        NaN    -40.322979       0.936132
 1      0.798880   0.524800  -1.789233   1.600000    -40.257228       0.933360
 2      0.281875   0.061256  -1.802069   0.550000    -40.193957       0.921826
 3     -0.103380   0.008100  -1.805767  -0.200000    -40.237854       0.903017
 4      1.546500   1.822500  -1.814685   3.000000    -39.666319       0.888125
 5      2.227540   5.162150  -5.175986   4.900000    -40.105248       0.918404
 6     -0.273680   0.062769  -1.812315  -0.550000    -40.249670       0.958057
 7     -0.640900   0.354900  -1.816178  -1.300000    -40.299721       0.937890
 8     -0.217035   0.042525  -1.823534  -0.450000    -40.270210       0.948822
 9      0.501795   0.231525  -1.810658   1.050000    -40.157949       0.954217
 10    -0.511140   0.231525  -5.463740  -1.050000    -40.540492       0.958634
 11     0.382400   0.134400  -1.841493   0.800000    -40.447639       0.966928
 12    -0.121225   0.013125  -1.854206  -0.250000    -40.971882       0.963931
 13     0.507255   0.231525  -1.873781   1.050000    -40.457777       0.955138
 14    -0.810975   0.578531  -1.864014  -1.650000    -40.503513       0.941548
 15    -0.477200   0.212500  -5.567753  -1.000000    -40.176324       0.957321
 16    -0.514470   0.263175  -1.841685  -1.100000    -40.553184       0.948142
 17     1.053630   1.150575  -1.844356   2.300000    -40.113226       0.933049
 18     1.745430   2.897644  -1.867014   3.650000    -39.454931       0.901046
 19     0.611520   0.313200  -1.863096   1.200000    -38.988439       0.905410
 20     1.482000   1.786950  -5.542767   2.850000    -38.847587       0.880465
 21    -0.844750   0.528550  -1.855068  -1.550000    -38.923444       0.925865
 22     1.096750   1.437500  -1.769356   2.500000    -38.932252       0.923608
 23    -1.161720   0.959175  -1.862657  -2.100000    -38.846379       0.915050
 24    -6.852030  24.642000  -1.887315 -11.100000    -41.663974       0.957332
 25     1.358420   2.090175  -5.708877   3.100000    -41.092901       0.970069
 26     0.000000   0.000000  -1.924521   0.000000    -40.901204       0.964931
 27     0.602810   0.376025  -1.916726   1.300000    -40.485814       0.954393
 28    -2.165240   3.075669  -2.012288  -3.850000    -42.326306       0.944636
 29     0.318180   0.073800  -2.080356   0.600000    -42.782495       0.939857
 ...         ...        ...        ...        ...           ...            ...
 4453   0.147810   0.002700 -10.965384   0.300000   -267.178052       1.027165
 4454 -10.659530  12.362700 -34.515369 -20.299999   -276.361837       1.031114
 4455 -29.692499  78.711873 -12.145260 -53.500000   -290.097517       1.066674
 4456  14.365090  26.598275 -11.921014  31.100000   -279.949799       1.024324
 4457  -0.544500   0.033275 -11.892452  -1.100000   -281.930787       1.022773
 4458 -12.967850  16.506875 -12.281096 -24.500000   -289.165885       1.030066
 4459  19.822950  53.482276 -47.254193  44.099998   -281.484641       1.016856
 4460 -12.355200  15.057901 -12.367877 -23.400000   -282.891951       1.009664
 4461   3.031800   1.153200 -12.086383   6.200000   -279.728599       1.002845
 4462   4.973870   3.182700 -11.892836  10.300000   -277.293140       0.992179
 4463  -3.244160   1.228800 -36.180493  -6.400000   -281.264735       0.987035
 4464  12.212640  19.814700 -11.975137  25.700001   -270.358059       0.965746
 4465   8.703240   9.937200 -11.593439  18.200001   -259.589761       0.954313
 4466  -5.523120   3.790800 -11.472959 -10.800000   -261.306820       0.962367
 4467 -14.694620  22.522800 -11.769973 -27.400000   -265.370587       0.977328
 4468   6.022080   4.916925 -34.674042  12.300000   -256.863502       0.955038
 4469 -17.133520  29.956800 -11.704384 -31.600000   -266.414899       0.981481
 4470  -1.813680   0.388800 -11.851630  -3.600000   -262.390479       0.977748
 4471  -5.163120   3.315325 -11.765589 -10.100000   -267.359526       0.993910
 4472   0.249700   0.007500 -11.924603   0.500000   -268.862314       0.989451
 4473 -26.019730  67.118698 -37.079507 -47.299999   -278.386789       1.029291
 4474   1.037610   0.132300 -12.449575   2.100000   -276.423800       1.020760
 4475  15.639660  35.089201 -11.986425  34.200001   -272.005878       0.992587
 4476   4.041780   2.017200 -12.196534   8.200000   -269.992867       0.976148
 4477  12.264390  22.139326 -11.907699  26.100000   -264.252829       0.967855
 4478  14.530950  32.248124 -34.593001  31.500000   -258.683128       0.943866
 4479  -3.103680   1.209325 -11.870205  -6.100000   -258.917309       0.939325
 4480   9.024000  11.486800 -11.642028  18.799999   -256.306297       0.926085
 4481   9.293700  13.308750 -11.466891  19.500000   -250.071046       0.956923
 4482   0.452070   0.028350 -11.507644   0.900000   -249.617198       0.954730

 [4483 rows x 252 columns]}

In [4]:
folder_date = 20160616
fpl.update_futures_price_database_from_cme_file(con=con, settle_date=folder_date)

In [30]:
import opportunity_constructs.spread_carry as sc

#Carry Spread Bet Size: 994
spread_carry_output = sc.generate_spread_carry_sheet_4date(report_date=20160819)
spread_report = spread_carry_output['spread_report']
ticker_head_list = list(spread_report['tickerHead'].unique())
# Compare BO and S sizing

spread_report[spread_report['tickerHead']==ticker_head_list[19]]
#spread_report[spread_report['tickerHead']=='BO']

# there's a possible replacement for BO K-N

,ticker1,ticker2,tickerHead,front_tr_dte,carry,q_carry,reward_risk,price,q,upside,downside,change5,change10,change20
0,OJU2016,OJX2016,OJ,15,NaN,NaN,NaN,-0.30,66,684.30,-560.96,NaN,NaN,NaN
1,OJX2016,OJF2017,OJ,57,-90.0,-22,-0.03,0.30,88,322.16,-162.86,NaN,NaN,NaN
2,OJF2017,OJH2017,OJ,98,7.5,-5,0.01,0.25,93,173.96,-179.29,NaN,NaN,NaN
3,OJH2017,OJK2017,OJ,140,-142.5,-3,-0.10,1.20,96,168.94,-182.89,NaN,NaN,NaN
4,OJK2017,OJN2017,OJ,181,0.0,-1,0.00,1.20,97,139.31,-284.29,NaN,NaN,NaN
5,OJN2017,OJU2017,OJ,223,97.5,0,0.22,0.55,97,30.00,-52.50,NaN,NaN,NaN

In [23]:
import signals.intraday_futures_signals as ifs
import ta.trade_fill_loader as tfl
import shared.statistics as stats

ticker_list = ['CZ2016','WZ2016']
#ticker_list = ['RBZ2016','CLZ2016']
#ticker_list = ['HOZ2016','CLZ2016']
#ticker_list = ['SX2016','BOZ2016','SMZ2016']
#ticker_list = ['CLZ2016','BZ2016']
#ticker_list = ['CLK2017','BJ2017']
ticker_list = ['SF2017','BOF2017','SMF2017']
ticker_list = ['CLZ2016','BZ2016']

num_days_back_4intraday = 5
signals_output = ifs.get_intraday_spread_signals(ticker_list=ticker_list,date_to=20160817,
                                                 num_days_back_4intraday=num_days_back_4intraday)
print(signals_output['z'])
print(signals_output['recent_trend'])

#stats.get_regression_results({'y':aligned_data['spread_pnl1'],'x':aligned_data['spread_pnl_1']})

-2.3292808912
-93.0671347082

In [24]:
import matplotlib.pyplot as plt
intraday_data = signals_output['intraday_data']
plt.plot(intraday_data['spread'])
plt.grid()         
         
plt.show()

In [27]:
intraday_data = signals_output['intraday_data']
print(intraday_data['spread'].mean())
print(intraday_data['spread'].std())
print(intraday_data['spread'].mean()+intraday_data['spread'].std())
print(intraday_data['spread'].mean()-intraday_data['spread'].std())

# -90 buy back

intraday_data.index[-1]

-0.8289177624713037
0.06424072940828894
-0.7646770330630147
-0.8931584918795926

Timestamp('2016-08-03 17:03:00')

In [12]:
import matplotlib.pyplot as plt
plt.plot(wuhu.index,wuhu['mid_p'])
plt.grid()         
         
plt.show()

In [31]:

import formats.futures_strategy_formats as fsf
fsf.generate_ifs_formatted_output()

In [ ]:
import contract_utilities.contract_lists as cl
import contract_utilities.expiration as exp
full_dates  = exp.get_bus_day_list(date_from=20100101,date_to=20160821)
bus_dates_select = full_dates[0::6]
data_frame_list = []

for i in range(len(bus_dates_select)):
    print(bus_dates_select[i])
    liquid_options = cl.generate_liquid_options_list_dataframe(settle_date=bus_dates_select[i])
    liquid_options.drop_duplicates('expiration_date',inplace=True)
    liquid_options = liquid_options[['expiration_date']]
    liquid_options['settle_date'] = bus_dates_select[i]
    data_frame_list.append(liquid_options)

20100104
20100112
20100121
20100129
20100208
20100217
20100225
20100305
20100315
20100323
20100331
20100409
20100419
20100427
20100505
20100513
20100521
20100601
20100609
20100617
20100625
20100706
20100714
20100722
20100730
20100809
20100817
20100825
20100902
20100913
20100921
20100929
20101007
20101015
20101025
20101102
20101110
20101118
20101129
20101207
20101215
20101223
20110104
20110112
20110121
20110131
20110208
20110216
20110225
20110307
20110315
20110323
20110331
20110408
20110418
20110427
20110505
20110513
20110523
20110601
20110609
20110617
20110627
20110706
20110714
20110722
20110801
20110809
20110817
20110825
20110902
20110913
20110921
20110929
20111007
20111017
20111025
20111102
20111110
20111118
20111129
20111207
20111215
20111223
20120104
20120112
20120123
20120131
20120208
20120216
20120227
20120306
20120314
20120322
20120330
20120410
20120418
20120426
20120504
20120514
20120522
20120531
20120608
20120618
20120626
20120705
20120713
20120723
20120731
20120808
20120816
20120824
20120904
20120912
20120920
20120928
20121008
20121016
20121024
20121101
20121109
20121119
20121128
20121206
20121214
20121224
20130103
20130111
20130122
20130130
20130207
20130215
20130226
20130306
20130314
20130322
20130402
20130410
20130418
20130426
20130506
20130514
20130522
20130531
20130610
20130618
20130626
20130705
20130715
20130723
20130731
20130808
20130816
20130826
20130904
20130912
20130920
20130930
20131008
20131016
20131024
20131101
20131111
20131119
20131127
20131206
20131216
20131224
20140103
20140113
20140122
20140130
20140207
20140218
20140226
20140306
20140314
20140324
20140401
20140409
20140417
20140428
20140506
20140514
20140522
20140602
20140610
20140618
20140626
20140707
20140715
20140723
20140731
20140808
20140818
20140826
20140904
20140912
20140922
20140930
20141008
20141016
20141024
20141103
20141111
20141119
20141128
20141208
20141216
20141224
20150105
20150113
20150122
20150130
20150209
20150218
20150226
20150306
20150316
20150324
20150401
20150410
20150420
20150428
20150506
20150514
20150522
20150602
20150610
20150618
20150626
20150707
20150715
20150723
20150731
20150810
20150818
20150826
20150903
20150914
20150922
20150930
20151008
20151016
20151026
20151103
20151111
20151119
20151130
20151208
20151216
20151224
20160105
20160113
20160122
20160201

In [ ]:

data_frame_list

In [ ]:
5+5

In [9]:
liquid_options.drop_duplicates('expiration_date',inplace=True)
liquid_options = liquid_options[['expiration_date']]
liquid_options['settle_date'] =

        id   ticker expiration_date
0    20291  LNG2017      2017-02-14
1    20292  LNG2018      2018-02-14
2    20410  LNJ2017      2017-04-17
3    20411  LNJ2018      2018-04-13
4    20529  LNK2017      2017-05-12
5    20530  LNK2018      2018-05-14
6    20648  LNM2017      2017-06-14
7    20649  LNM2018      2018-06-14
8    20767  LNN2017      2017-07-17
9    20768  LNN2018      2018-07-16
10   20886  LNQ2017      2017-08-14
11   21004  LNV2016      2016-10-14
12   21005  LNV2017      2017-10-13
13   21123  LNZ2016      2016-12-14
14   21124  LNZ2017      2017-12-14
15   21243  LCF2017      2017-01-06
16   21244  LCF2018      2018-01-05
17   21362  LCG2017      2017-02-03
18   21363  LCG2018      2018-02-02
19   21481  LCH2017      2017-03-03
20   21482  LCH2018      2018-03-02
21   21600  LCJ2017      2017-04-07
22   21601  LCJ2018      2018-04-06
23   21719  LCK2017      2017-05-05
24   21720  LCK2018      2018-05-04
25   21838  LCM2017      2017-06-02
26   21839  LCM2018      2018-06-01
27   21957  LCN2017      2017-07-07
28   21958  LCN2018      2018-07-06
29   22076  LCQ2017      2017-08-04
..     ...      ...             ...
664  57420  E5K2018      2018-05-11
665  57421  E5K2019      2019-05-10
666  57422  E5K2020      2020-05-15
667  57538  E5M2017      2017-06-16
668  57539  E5M2018      2018-06-15
669  57540  E5M2019      2019-06-14
670  57541  E5M2020      2020-06-12
671  57657  E5N2017      2017-07-14
672  57658  E5N2018      2018-07-13
673  57659  E5N2019      2019-07-12
674  57660  E5N2020      2020-07-10
675  57776  E5Q2017      2017-08-11
676  57777  E5Q2018      2018-08-10
677  57778  E5Q2019      2019-08-16
678  57894  E5U2016      2016-09-16
679  57895  E5U2017      2017-09-15
680  57896  E5U2018      2018-09-14
681  57897  E5U2019      2019-09-13
682  58013  E5V2016      2016-10-14
683  58014  E5V2017      2017-10-13
684  58015  E5V2018      2018-10-12
685  58016  E5V2019      2019-10-11
686  58132  E5X2016      2016-11-11
687  58133  E5X2017      2017-11-10
688  58134  E5X2018      2018-11-16
689  58135  E5X2019      2019-11-15
690  58251  E5Z2016      2016-12-16
691  58252  E5Z2017      2017-12-15
692  58253  E5Z2018      2018-12-14
693  58254  E5Z2019      2019-12-13

[694 rows x 3 columns]

In [5]:
import formats.intraday_futures_strategy_formats as ifsf
ifsf.generate_ibo_formatted_output()

In [1]:
import ta.email_reports as er
er.send_hrsn_report(report_date=20160808)

In [35]:
list(range(5))

[0, 1, 2, 3, 4]

In [1]:
import ta.strategy_hedger as sh
sh.get_hedge_4strategy(alias='SIU16Z16VCS')

,ticker,option_type,strike_price,instrument,qty,imp_vol,underlying_ticker,cme_code,bid_price,ask_price,ticker_head,mid_price,exercise_type
0,SIU2016,C,16.00,O,4,0.405437,SIU2016,1|G|XCEC:F:SI:201609,19.745,19.75,SI,19.7475,A
1,SIU2016,P,16.00,O,4,0.405437,SIU2016,1|G|XCEC:F:SI:201609,19.745,19.75,SI,19.7475,A
2,SIZ2016,C,16.25,O,-4,0.274463,SIZ2016,1|G|XCEC:F:SI:201612,19.860,19.87,SI,19.8650,A
3,SIZ2016,C,20.00,O,2,0.266623,SIZ2016,1|G|XCEC:F:SI:201612,19.860,19.87,SI,19.8650,A
4,SIZ2016,P,16.25,O,-4,0.274463,SIZ2016,1|G|XCEC:F:SI:201612,19.860,19.87,SI,19.8650,A
5,SIZ2016,P,20.00,O,2,0.266623,SIZ2016,1|G|XCEC:F:SI:201612,19.860,19.87,SI,19.8650,A

In [37]:
import numpy as np
intraday_noise

2016-07-07 09:00:00   -0.00090
2016-07-07 09:30:00   -0.00050
2016-07-07 10:00:00   -0.00150
2016-07-07 10:30:00   -0.00010
2016-07-07 11:00:00   -0.00030
2016-07-07 11:30:00   -0.00020
2016-07-08 09:00:00    0.00020
2016-07-08 09:30:00    0.00140
2016-07-08 10:00:00    0.00040
2016-07-08 10:30:00    0.00070
2016-07-08 11:00:00   -0.00030
2016-07-08 11:30:00    0.00050
2016-07-11 09:00:00   -0.00100
2016-07-11 09:30:00    0.00100
2016-07-11 10:00:00   -0.00020
2016-07-11 10:30:00   -0.00025
2016-07-11 11:00:00    0.00025
2016-07-11 11:30:00   -0.00035
2016-07-12 09:00:00   -0.00045
2016-07-12 09:30:00   -0.00010
2016-07-12 10:00:00    0.00055
2016-07-12 10:30:00    0.00005
2016-07-12 11:00:00    0.00150
2016-07-12 11:30:00    0.00050
2016-07-13 09:00:00    0.00165
2016-07-13 09:30:00   -0.00085
2016-07-13 10:00:00   -0.00020
2016-07-13 10:30:00   -0.00010
2016-07-13 11:00:00   -0.00020
2016-07-13 11:30:00   -0.00010
                        ...
2016-07-28 09:00:00   -0.00030
2016-07-28 09:30:00   -0.00080
2016-07-28 10:00:00   -0.00060
2016-07-28 10:30:00    0.00020
2016-07-28 11:00:00   -0.00040
2016-07-28 11:30:00    0.00030
2016-07-29 09:00:00    0.00200
2016-07-29 09:30:00    0.00060
2016-07-29 10:00:00    0.00050
2016-07-29 10:30:00    0.00070
2016-07-29 11:00:00   -0.00080
2016-07-29 11:30:00   -0.00065
2016-08-01 09:00:00   -0.00010
2016-08-01 09:30:00   -0.00115
2016-08-01 10:00:00    0.00105
2016-08-01 10:30:00    0.00030
2016-08-01 11:00:00   -0.00030
2016-08-01 11:30:00    0.00010
2016-08-02 09:00:00   -0.00110
2016-08-02 09:30:00   -0.00070
2016-08-02 10:00:00    0.00030
2016-08-02 10:30:00   -0.00020
2016-08-02 11:00:00    0.00000
2016-08-02 11:30:00   -0.00090
2016-08-03 09:00:00    0.00020
2016-08-03 09:30:00    0.00000
2016-08-03 10:00:00    0.00120
2016-08-03 10:30:00   -0.00020
2016-08-03 11:00:00    0.00000
2016-08-03 11:30:00    0.00020
dtype: float64

In [34]:
import matplotlib.pyplot as plt
plt.plot(intraday_noise)
plt.grid()         
         
plt.show()

In [4]:
import signals.intraday_futures_signals as ifs
ifs.get_intraday_trend_signals(ticker='LCV2016',date_to=20160707)

LCV2016
20160707

{'daily_pnl': -260.00000000000227,
 'intraday_data':                   index         c1                                   \
                         best_bid_p best_bid_q best_ask_p best_ask_q
 0   2016-07-07 08:31:00    112.950          1    112.950          2
 1   2016-07-07 08:32:00    112.950          1    112.950          2
 2   2016-07-07 08:33:00    112.675          4    112.750          5
 3   2016-07-07 08:34:00    112.450          3    112.525          2
 4   2016-07-07 08:35:00    112.450          1    112.475          1
 5   2016-07-07 08:36:00    112.425          2    112.475          1
 6   2016-07-07 08:37:00    112.325          5    112.400          5
 7   2016-07-07 08:38:00    112.350          1    112.400          1
 8   2016-07-07 08:39:00    112.525          2    112.600         16
 9   2016-07-07 08:40:00    112.625          2    112.650          1
 10  2016-07-07 08:41:00    112.775          1    112.825          4
 11  2016-07-07 08:42:00    112.825          1    112.900          2
 12  2016-07-07 08:43:00    112.850          7    112.900          2
 13  2016-07-07 08:44:00    112.875          4    112.950          3
 14  2016-07-07 08:45:00    112.850          3    112.925          3
 15  2016-07-07 08:46:00    112.875          6    112.950          4
 16  2016-07-07 08:47:00    113.025          4    113.075          7
 17  2016-07-07 08:48:00    112.950          1    113.025          4
 18  2016-07-07 08:49:00    112.875          4    112.900          2
 19  2016-07-07 08:50:00    112.750          1    112.825          2
 20  2016-07-07 08:51:00    112.775          4    112.850          4
 21  2016-07-07 08:52:00    112.750          3    112.800          6
 22  2016-07-07 08:53:00    112.825          4    112.900          1
 23  2016-07-07 08:54:00    112.775         11    112.850         10
 24  2016-07-07 08:55:00    112.675          1    112.725          1
 25  2016-07-07 08:56:00    112.700          2    112.725          2
 26  2016-07-07 08:57:00    112.625         20    112.675          4
 27  2016-07-07 08:58:00    112.550          1    112.600          6
 28  2016-07-07 08:59:00    112.550          7    112.650          3
 29  2016-07-07 09:00:00    112.550          4    112.625          2
 ..                  ...        ...        ...        ...        ...
 259 2016-07-07 12:50:00    112.075          2    112.100          6
 260 2016-07-07 12:51:00    112.075          2    112.100          5
 261 2016-07-07 12:52:00    112.100          6    112.150          9
 262 2016-07-07 12:53:00    112.125          4    112.175          9
 263 2016-07-07 12:54:00    112.100          2    112.150         17
 264 2016-07-07 12:55:00    112.075          5    112.100         11
 265 2016-07-07 12:56:00    112.100          1    112.150         11
 266 2016-07-07 12:57:00    112.250          5    112.300          5
 267 2016-07-07 12:58:00    112.175          5    112.250          5
 268 2016-07-07 12:59:00    112.250          1    112.275          2
 269 2016-07-07 13:00:00    112.200          5    112.275          4
 270 2016-07-07 13:01:00    112.025          2    112.075          3
 271 2016-07-07 13:02:00    112.175          3    112.225          5
 272 2016-07-07 13:03:00    112.000          4    112.050          2
 273 2016-07-07 13:04:00    111.950          4    112.000         10
 274 2016-07-07 13:05:00    111.950         15    111.975          8
 275 2016-07-07 13:06:00    111.925          3    111.950          1
 276 2016-07-07 13:07:00    111.900          6    111.925          1
 277 2016-07-07 13:08:00    111.900          1    112.225          4
 278 2016-07-07 13:09:00    111.900          1    112.225          4
 279 2016-07-07 13:10:00    111.900          1    112.225          4
 280 2016-07-07 13:11:00    111.900          1    112.225          4
 281 2016-07-07 13:12:00    111.900          1    112.225          4
 282 2016-07-07 13:13:00    111.900          1    112.225          4
 283 2016-07-07 13:14:00    111.900          1    112.225          4
 284 2016-07-07 13:15:00    111.900          1    112.225          4
 285 2016-07-07 13:16:00    111.900          1    112.225          4
 286 2016-07-07 13:17:00    111.900          1    112.225          4
 287 2016-07-07 13:18:00    111.900          1    112.225          4
 288 2016-07-07 13:19:00    111.900          1    112.225          4

              time_stamp hour_minute     mid_p     ewma100      ewma25

 0   2016-07-07 08:31:00         831  112.9500  113.366909  113.190738
 1   2016-07-07 08:32:00         832  112.9500  113.358628  113.172219
 2   2016-07-07 08:33:00         833  112.7125  113.345796  113.136856
 3   2016-07-07 08:34:00         834  112.4875  113.328752  113.086906
 4   2016-07-07 08:35:00         835  112.4625  113.311550  113.038875
 5   2016-07-07 08:36:00         836  112.4500  113.294443  112.993577
 6   2016-07-07 08:37:00         837  112.3625  113.275939  112.945032
 7   2016-07-07 08:38:00         838  112.3750  113.258052  112.901184
 8   2016-07-07 08:39:00         839  112.5625  113.244243  112.875131
 9   2016-07-07 08:40:00         840  112.6375  113.232198  112.856852
 10  2016-07-07 08:41:00         841  112.8000  113.223618  112.852479
 11  2016-07-07 08:42:00         842  112.8625  113.216450  112.853249
 12  2016-07-07 08:43:00         843  112.8750  113.209672  112.854923
 13  2016-07-07 08:44:00         844  112.9125  113.203774  112.859352
 14  2016-07-07 08:45:00         845  112.8875  113.197497  112.861517
 15  2016-07-07 08:46:00         846  112.9125  113.191840  112.865439
 16  2016-07-07 08:47:00         847  113.0500  113.189025  112.879636
 17  2016-07-07 08:48:00         848  112.9875  113.185026  112.887933
 18  2016-07-07 08:49:00         849  112.8875  113.179122  112.887900
 19  2016-07-07 08:50:00         850  112.7875  113.171351  112.880177
 20  2016-07-07 08:51:00         851  112.8125  113.164231  112.874971
 21  2016-07-07 08:52:00         852  112.7750  113.156508  112.867281
 22  2016-07-07 08:53:00         853  112.8625  113.150675  112.866913
 23  2016-07-07 08:54:00         854  112.8125  113.143965  112.862727
 24  2016-07-07 08:55:00         855  112.7000  113.135157  112.850210
 25  2016-07-07 08:56:00         856  112.7125  113.126772  112.839617
 26  2016-07-07 08:57:00         857  112.6500  113.117314  112.825031
 27  2016-07-07 08:58:00         858  112.5750  113.106557  112.805798
 28  2016-07-07 08:59:00         859  112.6000  113.096508  112.789967
 29  2016-07-07 09:00:00         900  112.5875  113.086412  112.774393
 ..                  ...         ...       ...         ...         ...
 259 2016-07-07 12:50:00        1250  112.0875  112.569697  112.314219
 260 2016-07-07 12:51:00        1251  112.0875  112.560149  112.296779
 261 2016-07-07 12:52:00        1252  112.1250  112.551532  112.283566
 262 2016-07-07 12:53:00        1253  112.1500  112.543580  112.273291
 263 2016-07-07 12:54:00        1254  112.1250  112.535292  112.261884
 264 2016-07-07 12:55:00        1255  112.0875  112.526424  112.248470
 265 2016-07-07 12:56:00        1256  112.1250  112.518475  112.238972
 266 2016-07-07 12:57:00        1257  112.2750  112.513654  112.241744
 267 2016-07-07 12:58:00        1258  112.2125  112.507690  112.239494
 268 2016-07-07 12:59:00        1259  112.2625  112.502835  112.241264
 269 2016-07-07 13:00:00        1300  112.2375  112.497581  112.240974
 270 2016-07-07 13:01:00        1301  112.0500  112.488718  112.226284
 271 2016-07-07 13:02:00        1302  112.2000  112.483000  112.224262
 272 2016-07-07 13:03:00        1303  112.0250  112.473931  112.208934
 273 2016-07-07 13:04:00        1304  111.9750  112.464051  112.190939
 274 2016-07-07 13:05:00        1305  111.9625  112.454119  112.173367
 275 2016-07-07 13:06:00        1306  111.9375  112.443889  112.155223
 276 2016-07-07 13:07:00        1307  111.9125  112.433366  112.136552
 277 2016-07-07 13:08:00        1308  112.0625  112.426022  112.130856
 278 2016-07-07 13:09:00        1309  112.0625  112.418824  112.125598
 279 2016-07-07 13:10:00        1310  112.0625  112.411768  112.120744
 280 2016-07-07 13:11:00        1311  112.0625  112.404851  112.116264
 281 2016-07-07 13:12:00        1312  112.0625  112.398072  112.112128
 282 2016-07-07 13:13:00        1313  112.0625  112.391427  112.108311
 283 2016-07-07 13:14:00        1314  112.0625  112.384914  112.104787
 284 2016-07-07 13:15:00        1315  112.0625  112.378529  112.101534
 285 2016-07-07 13:16:00        1316  112.0625  112.372271  112.098531
 286 2016-07-07 13:17:00        1317  112.0625  112.366137  112.095760
 287 2016-07-07 13:18:00        1318  112.0625  112.360124  112.093201
 288 2016-07-07 13:19:00        1319  112.0625  112.354231  112.090840

 [289 rows x 10 columns],
 'range_max': 113.05000000000001,
 'range_min': 112.36250000000001,
 'stop_loss': 275.0}

In [9]:


import signals.intraday_futures_signals as ifs
signals_output = ifs.get_intraday_trend_signals(ticker='LCV2016',date_to=20160630)
intraday_data = signals_output['intraday_data']

import matplotlib.pyplot as plt
plt.plot(range(len(intraday_data.index)),intraday_data['mid_p'],
         range(len(intraday_data.index)),intraday_data['ewma25'],
        range(len(intraday_data.index)),intraday_data['ewma100']
        )
plt.grid()         
         
plt.show()

LCV2016
20160630

In [13]:
import matplotlib.pyplot as plt
plt.plot(range(len(aligned_data.index)),aligned_data['c1']['close_price'],
        range(len(aligned_data.index)),aligned_data['c2']['close_price'])
plt.grid()         
         
plt.show()

-85.82285102420849
4.199943026208985
-81.6229079979995
-90.02279405041747

Timestamp('2016-07-14 14:32:00')

In [2]:
import matplotlib.pyplot as plt
plt.scatter(intraday_data['c1']['mid_p'],intraday_data['c2']['mid_p'])
plt.grid()         
         
plt.show()

In [5]:
import shared.statistics as stats

#yield_regress_output = stats.get_regression_results({'x':yield2, 'y':yield1,'x_current': yield2_current, 'y_current': yield1_current,
#                                                         'clean_num_obs': max(100, round(3*len(yield1.values)/4))})

stats.get_regression_results({'y':intraday_data['c1']['mid_p'].values,'x':intraday_data['c2']['mid_p'].values})

{'alpha': 1.1850901654380999,
 'beta': 0.98643764580320514,
 'conf_int': array([[ 1.10675436,  1.26342598],
        [ 0.98488015,  0.98799514]]),
 'residualstd': 0.043767005836800189,
 'rsquared': 99.838955405787345,
 'zscore': -0.77307191646706896}

In [5]:
import matplotlib.pyplot as plt
plt.plot(aligned_data['spread'])
plt.grid()         
         
plt.show()

In [4]:
import opportunity_constructs.utilities as opUtil
import contract_utilities.contract_meta_info as cmi
ticker_list = ['CLZ2016','HOZ2016']
amcb_output = [opUtil.get_aggregation_method_contracts_back(cmi.get_contract_specs(x)) for x in ticker_list]

[x['aggregation_method'] for x in amcb_output]

[1, 12]

In [1]:
import contract_utilities.expiration as exp
exp.doubledate_shift_bus_days(double_date=20160629,shift_in_days=4)

20160623

In [8]:
import matplotlib.pyplot as plt
plt.scatter(aligned_data['c1']['close_price'],aligned_data['c2']['close_price'])
plt.grid()         
         
plt.show()

In [41]:
import opportunity_constructs.utilities as oput
aligned_output = oput.get_aligned_futures_data(contract_list=['CZ2016','WZ2016'],
                              aggregation_method=12,
                             contracts_back=10,
                             date_to=20160628)

aligned_data = aligned_output['aligned_data']
p1 = aligned_data['c1']['close_price']
p2 = aligned_data['c2']['close_price']


import matplotlib.pyplot as plt
plt.plot(p1/p2)
plt.grid()         
         
plt.show()

In [45]:
import contract_utilities.expiration as exp
exp.get_days2_expiration(ticker='CLZ2017',date_to=20160629,instrument='futures')

{'cal_dte': 509,
 'expiration_datetime': datetime.date(2017, 11, 20),
 'tr_dte': 352}

In [21]:


import opportunity_constructs.intraday_future_spreads as ifs
import opportunity_constructs.utilities as opput
#wuhu = ifs.get_spreads_4date(date_to=20160628)

indx = 4
contract1 = wuhu['contract1'].iloc[indx]
contract2 = wuhu['contract2'].iloc[indx]

contract1

aligned_output = opput.get_aligned_futures_data_intraday(contract_list = [contract1,contract2],
                                       date_list=[20160623,20160624,20160627,20160628])

mid_1 = (aligned_output['c1']['best_bid_p']+aligned_output['c1']['best_ask_p'])/2
mid_2 = (aligned_output['c2']['best_bid_p']+aligned_output['c2']['best_ask_p'])/2

resid = 0.42*mid_1-mid_2

In [23]:
import matplotlib.pyplot as plt
plt.plot(resid)
plt.grid()         
         
plt.show()

In [24]:
import matplotlib.pyplot as plt
plt.scatter(mid_2,resid)
plt.grid()         
         
plt.show()

In [6]:
print(resid.mean())
print(resid.std())

-1483.3707493061981
6.542279100352497

In [5]:
import opportunity_constructs.utilities as opu
aligned_frame = opu.get_aligned_futures_data_intraday(contract_list=['CLZ2016','HOZ2016'],date_list=[20160622,20160623,20160624])

mid1 = (aligned_frame['c1']['best_bid_p']+aligned_frame['c1']['best_ask_p'])/2
mid2 = (aligned_frame['c2']['best_bid_p']+aligned_frame['c2']['best_ask_p'])/2

resid = mid1-0.42*mid2

import matplotlib.pyplot as plt
plt.plot(resid)
plt.grid()         
         
plt.show()

In [54]:
import matplotlib.pyplot as plt
plt.scatter(mid_p,mid_p2)
plt.grid()         
         
plt.show()

In [86]:
import opportunity_constructs.utilities as ocu
data_out = ocu.get_aligned_futures_data(contract_list=['CLZ2016','HOZ2016'],aggregation_method=12,contracts_back=2,date_to=20160622)
aligned_data = data_out['aligned_data']

In [92]:
aligned_data['c1']['close_price']

import matplotlib.pyplot as plt
import shared.statistics as stats
#plt.scatter(aligned_data['c1']['close_price'],aligned_data['c2']['close_price'])
#plt.grid()         
         
#plt.show()

regress_output = stats.get_regression_results({'y':aligned_data['c1']['close_price'],'x':aligned_data['c2']['close_price']})

resid = aligned_data['c1']['close_price']-42*aligned_data['c2']['close_price']


import matplotlib.pyplot as plt
plt.plot(resid)
plt.grid()         
         
plt.show()

In [78]:
plt.scatter(aligned_data['c1']['close_price'],aligned_data['c2']['close_price'])
plt.grid()         
         
plt.show()

In [81]:
regress_output['beta']

28.411566512349935

In [1]:
import ta.strategy as ts
import shared.directory_names as dn
import shared.calendar_utilities as cu
import os.path
import pandas as pd
import numpy as np
import shared.converters as conv
import datetime as dt
import my_sql_routines.my_sql_utilities as msu
import contract_utilities.expiration as exp
import get_price.get_futures_price as gfp
import time as tm

In [3]:
con = msu.get_my_sql_connection()
strategy_from = 'spreadCarryJul16'
as_of_date = exp.doubledate_shift_bus_days()
kwargs = {}
kwargs['as_of_date'] = as_of_date
kwargs['con'] = con
net_position_frame = ts.get_net_position_4strategy_alias(alias=strategy_from, **kwargs)

In [4]:
net_position_frame

     ticker option_type  strike_price instrument  qty
3   CLF2017        None           NaN          F    4
4   CLZ2016        None           NaN          F   -4
7   KCH2017        None           NaN          F    7
8   KCZ2016        None           NaN          F   -7
9   KWH2017        None           NaN          F    6
10  KWZ2016        None           NaN          F   -6
13  LNG2017        None           NaN          F   -1
14  LNZ2016        None           NaN          F    1
15  NGH2017        None           NaN          F   -2
16  NGJ2017        None           NaN          F    2
17  RBV2016        None           NaN          F    1
18  RBX2016        None           NaN          F   -1
19  SBH2017        None           NaN          F   -2
20  SBK2017        None           NaN          F    2
21  SMV2016        None           NaN          F   -3
22  SMZ2016        None           NaN          F    3
24   WK2017        None           NaN          F   -1
25   WN2017        None           NaN          F    1

In [5]:
net_position_frame['trade_price'] = \
        [float(gfp.get_futures_price_4ticker(ticker=x,date_from=as_of_date,date_to=as_of_date,con=con)['close_price'][0]) for x in net_position_frame['ticker']]

In [6]:
net_position_frame

     ticker option_type  strike_price instrument  qty  trade_price
3   CLF2017        None           NaN          F    4      44.6900
4   CLZ2016        None           NaN          F   -4      44.0000
7   KCH2017        None           NaN          F    7     145.5500
8   KCZ2016        None           NaN          F   -7     142.3500
9   KWH2017        None           NaN          F    6     454.2500
10  KWZ2016        None           NaN          F   -6     437.7500
13  LNG2017        None           NaN          F   -1      59.9250
14  LNZ2016        None           NaN          F    1      55.3500
15  NGH2017        None           NaN          F   -2       3.1540
16  NGJ2017        None           NaN          F    2       2.9400
17  RBV2016        None           NaN          F    1       1.2304
18  RBX2016        None           NaN          F   -1       1.2254
19  SBH2017        None           NaN          F   -2      20.1100
20  SBK2017        None           NaN          F    2      19.5700
21  SMV2016        None           NaN          F   -3     331.9000
22  SMZ2016        None           NaN          F    3     330.1000
24   WK2017        None           NaN          F   -1     474.5000
25   WN2017        None           NaN          F    1     480.5000

In [11]:
column_names = net_position_frame.columns.tolist()
import numpy as np
strategy_to = 'spreadCarryAug16'
now_time = dt.datetime.now()
target_strategy_id = ts.get_strategy_id_from_alias(alias=strategy_to, **kwargs)
ticker_indx = column_names.index('ticker')
option_type_indx = column_names.index('option_type')
strike_price_indx = column_names.index('strike_price')
trade_price_indx = column_names.index('trade_price')
trade_quantity_indx = column_names.index('qty')
instrument_indx = column_names.index('instrument')

column_str = "ticker, option_type, strike_price, strategy_id, trade_price, trade_quantity, trade_date, instrument, real_tradeQ, created_date, last_updated_date"
insert_str = ("%s, " * 11)[:-2]

final_str = "INSERT INTO trades (%s) VALUES (%s)" % (column_str, insert_str)

tuples_target = [tuple([x[ticker_indx],x[option_type_indx], 
                        None if np.isnan(x[strike_price_indx]) else x[strike_price_indx], 
                        target_strategy_id,
              x[trade_price_indx], x[trade_quantity_indx],
              as_of_date,x[instrument_indx], True,now_time,now_time]) for x in net_position_frame.values]

msu.sql_execute_many_wrapper(final_str=final_str, tuples=tuples_target, con=con)