In [1]:
import contract_utilities.expiration as exp
report_date = exp.doubledate_shift_bus_days()

In [3]:
# Create DB Strategy

import ta.strategy as ts
ts.generate_db_strategy_from_strategy_sheet(id=248,strategy_class='futures_butterfly',report_date=report_date)

3

In [1]:
import ta.tt_fill_loader as tfl
tfl.load_tt_trades(trade_date=20150107)

In [2]:
import my_sql_routines.my_sql_utilities as msu
import ta.strategy as ts
con = msu.get_my_sql_connection()

[ts.get_strategy_id_from_alias(alias=wuhu['alias'][x],con=con) for x in range(len(wuhu.index))]

[1, 1, 1, 1, 1]

In [3]:
import datetime as dt
dt.datetime.now().date()

datetime.date(2016, 1, 8)

In [5]:
aggregate_trades = pd.DataFrame()

grouped['PQ'].sum()/grouped['Qty'].sum()

ticker   B/S
CLG2016  B      34.170000
         S      34.170000
HON2016  B       1.173065
HOQ2016  S       1.196458
HOU2016  B       1.218691
dtype: float64

In [11]:
import pandas as pd
aggregate_trades = pd.DataFrame()

aggregate_trades['avg_price'] = grouped['PQ'].sum()/grouped['Qty'].sum()
aggregate_trades['qty'] = grouped['Qty'].sum()

In [28]:
aggregate_trades.loc[(slice(None),'S'),'qty']=-aggregate_trades.loc[(slice(None),'S'),'qty']

In [29]:
aggregate_trades

             avg_price  qty
ticker  B/S
CLG2016 B    34.170000    1
        S    34.170000   -1
HON2016 B     1.173065   31
HOQ2016 S     1.196458  -66
HOU2016 B     1.218691   35