In [3]:
import contract_utilities.expiration as exp
report_date = exp.doubledate_shift_bus_days()

In [5]:
# Create DB Strategy

import ta.strategy as ts
ts.generate_db_strategy_from_strategy_sheet(id=292,strategy_class='futures_butterfly',report_date=report_date)

117

In [6]:
# Create Misc Strategy
import ta.strategy as ts
ts.generate_db_strategy_from_alias(alias='ESH2017_short_scv',description_string='strategy_class=scv&betsize=2283')

118

In [22]:
import ta.trade_fill_loader as tfl
import datetime as dt
#wuhu = tfl.assign_trades_2strategies()
#wuhu
tfl.load_tt_trades()
#tfl.load_cme_direct_trades()
#tfl.load_manual_entry_trades()
#wuhu = tfl.get_formatted_tt_fills()
#wuhu

#tfl.load_latest_tt_fills()
#dt.datetime.strptime(wuhu['Contract'].values[40],'%y-%b')


#tfl.load_cme__fills()
#wuhu = tfl.get_formatted_cme_direct_fills()
#wuhu

In [17]:
trade_frame = tfl.get_formatted_cme_direct_fills()
trade_frame['aggregate_trades']

                         trade_price  trade_quantity   ticker ticker_head  \
generalized_ticker side
CLX2016            Buy         51.30               1  CLX2016          CL
CLZ2016            Sell        51.63              -1  CLZ2016          CL
LCV2016            Sell       116.90              -1  LCV2016          LC
LCZ2016            Buy        116.90               1  LCZ2016          LC
WU2016             Buy        508.25               4   WU2016           W
                   Sell       508.00              -1   WU2016           W
WZ2016             Sell       527.50              -2   WZ2016           W

                        instrument option_type  strike_price real_tradeQ
generalized_ticker side
CLX2016            Buy           F        None           NaN        True
CLZ2016            Sell          F        None           NaN        True
LCV2016            Sell          F        None           NaN        True
LCZ2016            Buy           F        None           NaN        True
WU2016             Buy           F        None           NaN        True
                   Sell          F        None           NaN        True
WZ2016             Sell          F        None           NaN        True

In [3]:
import ta.trade_fill_loader as tfl
wuhu = tfl.get_formatted_manual_entry_fills()
wuhu

   ticker option_type  strike_price  trade_price  trade_quantity
0  SU2016           P          1040       24.875               5
1  SU2016           C          1040       90.625               5
2  SX2016           P          1020       32.250              -5
3  SX2016           C          1020       97.250              -5

In [19]:

#Daily Hedge

import ta.strategy_hedger as sh
import shared.calendar_utilities as cu
import ta.strategy as tas
#sh.strategy_hedge_report()
import ta.strategy as tas

wuhu  = tas.get_net_position_4strategy_alias(alias='delta_may',as_of_date=cu.get_doubledate())
wuhu

     ticker option_type strike_price instrument   qty
0   CLX2016        None         None          F -0.58
1   CLZ2016        None         None          F  0.83
2   ESH2017        None         None          F -0.05
4   JYU2016        None         None          F  0.15
7   LCV2016        None         None          F -0.16
8   LCZ2016        None         None          F  0.12
9   LNV2016        None         None          F -0.47
10  LNZ2016        None         None          F  0.43
11  SIH2017        None         None          F -1.14
12  SIU2016        None         None          F  2.90
13  SIZ2016        None         None          F -1.43
16   WU2016        None         None          F -0.33
17   WZ2016        None         None          F  0.27

In [5]:
import ta.strategy_hedger as sh
sh.get_hedge_4strategy(alias='CLX16Z16VCS')

,underlying_ticker,hedge_price,option_delta,underlying_delta,total_delta,hedge
0,CLX2016,50.680,1.82,-1.34,0.48,-0.48
1,CLZ2016,50.915,-2.21,1.78,-0.43,0.43

In [6]:
import ta.strategy_greeks as sg
import pandas as pd
import get_price.get_options_price as gop
output = sg.get_greeks_4strategy_4date(alias='SXN16U16VCS',as_of_date=20160519)
output['ticker_portfolio']

   ticker  total_oev       theta
0  SU2016 -24.757037  363.654757
1  SX2016  24.973683 -257.161444

In [3]:
import ta.pnl as tapnl
alias = 'HON2016Q2016Q2016U2016'
tapnl.close_strategy(alias='SX2016_long2_scv')

In [1]:
import ta.abn_position_reconciler as pr
pr.reconcile_position()

Empty DataFrame
Columns: [generalized_ticker, qty_x, qty_y, qty_diff]
Index: []

In [7]:
import ta.strategy_greeks as sg
greeks_out = sg.get_greeks_4strategy_4date(alias='WU16Z16VCS',as_of_date=20160607)
greeks_out['ticker_portfolio']

   ticker  total_oev      theta
0  WU2016  31.503649 -253.49972
1  WZ2016 -35.386549  198.60113

In [9]:
import ta.strategy as ts
ts.move_position_from_strategy_2_strategy(strategy_from='spreadCarryApril16_2',strategy_to='spreadCarryMay16_2')

In [1]:
import ta.strategy as ts
ts.move_position_from_strategy_2_strategy(strategy_from='CL-Jan16-Carry',strategy_to='spreadCarryFeb16')

[('CLN2016',
  None,
  None,
  37,
  37.04,
  -2,
  20160222,
  'F',
  True,
  datetime.datetime(2016, 2, 23, 16, 19, 12, 695074),
  datetime.datetime(2016, 2, 23, 16, 19, 12, 695074)),
 ('CLQ2016',
  None,
  None,
  37,
  37.73,
  2,
  20160222,
  'F',
  True,
  datetime.datetime(2016, 2, 23, 16, 19, 12, 695074),
  datetime.datetime(2016, 2, 23, 16, 19, 12, 695074))]

In [10]:
import ta.strategy as ts
import shared.calendar_utilities as cu
wuhu = ts.get_net_position_4strategy_alias(alias='NGV2016X2016U2016V2016')
wuhu

    ticker option_type strike_price instrument  qty
0  NGU2016        None         None          F   22
1  NGV2016        None         None          F  -30
2  NGX2016        None         None          F    8

In [21]:
import shared.calendar_utilities as cu
import ta.strategy as tas
wuhu  = tas.get_net_position_4strategy_alias(alias='spreadCarryMay16_2',as_of_date=cu.get_doubledate())
wuhu

     ticker option_type strike_price instrument  qty
0   BOF2017        None         None          F   -6
1   BOH2017        None         None          F    6
4    CH2017        None         None          F   -8
5    CK2017        None         None          F    8
8   HON2017        None         None          F   -4
9   HOQ2017        None         None          F    4
12  RBQ2016        None         None          F   -1
13  RBU2016        None         None          F    1
14   SF2017        None         None          F    3
15   SX2016        None         None          F   -3

In [8]:
import ta.position_close_helper as pch
pch.calc_intrday_pnl_from_prices(alias='SX2016_long2_scv',structure_price=156.25,SX2016=1150.75)

{'futures_pnl': -40.75, 'structure_pnl': -375.0, 'structure_settle': 158.75}