In [5]:
import contract_utilities.expiration as exp
report_date = exp.doubledate_shift_bus_days()

In [6]:
# Create DB Strategy

import ta.strategy as ts
ts.generate_db_strategy_from_strategy_sheet(id=90,strategy_class='futures_butterfly',report_date=report_date)

180

In [19]:
# Create Misc Strategy
import ta.strategy as ts
ts.generate_db_strategy_from_alias(alias='CH2017_short_scv',description_string='strategy_class=scv&betsize=3993')

178

In [9]:
import ta.trade_fill_loader as tfl
import datetime as dt
#wuhu = tfl.assign_trades_2strategies(trade_source='tt')
#wuhu
tfl.load_tt_trades()
#tfl.load_cme_direct_trades()
#tfl.load_manual_entry_trades()
#wuhu = tfl.get_formatted_tt_fills()
#wuhu['aggregate_trades']

#tfl.load_latest_tt_fills()
#dt.datetime.strptime(wuhu['Contract'].values[40],'%y-%b')


#tfl.load_cme__fills()
#wuhu = tfl.get_formatted_cme_direct_fills()
#wuhu['aggregate_trades']

In [17]:
trade_frame = tfl.get_formatted_cme_direct_fills()
trade_frame['aggregate_trades']

                         trade_price  trade_quantity   ticker ticker_head  \
generalized_ticker side
CLX2016            Buy         51.30               1  CLX2016          CL
CLZ2016            Sell        51.63              -1  CLZ2016          CL
LCV2016            Sell       116.90              -1  LCV2016          LC
LCZ2016            Buy        116.90               1  LCZ2016          LC
WU2016             Buy        508.25               4   WU2016           W
                   Sell       508.00              -1   WU2016           W
WZ2016             Sell       527.50              -2   WZ2016           W

                        instrument option_type  strike_price real_tradeQ
generalized_ticker side
CLX2016            Buy           F        None           NaN        True
CLZ2016            Sell          F        None           NaN        True
LCV2016            Sell          F        None           NaN        True
LCZ2016            Buy           F        None           NaN        True
WU2016             Buy           F        None           NaN        True
                   Sell          F        None           NaN        True
WZ2016             Sell          F        None           NaN        True

In [3]:
import ta.trade_fill_loader as tfl
wuhu = tfl.get_formatted_manual_entry_fills()
wuhu

   ticker option_type  strike_price  trade_price  trade_quantity
0  SU2016           P          1040       24.875               5
1  SU2016           C          1040       90.625               5
2  SX2016           P          1020       32.250              -5
3  SX2016           C          1020       97.250              -5

In [4]:

#Daily Hedge

import ta.strategy_hedger as sh
import shared.calendar_utilities as cu
import ta.strategy as tas
#sh.strategy_hedge_report()
import ta.strategy as tas

wuhu  = tas.get_net_position_4strategy_alias(alias='delta_jul16',as_of_date=cu.get_doubledate())
wuhu

     ticker option_type  strike_price instrument   qty
1   BOV2016        None           NaN          F  9.00
2   BOZ2016        None           NaN          F -9.00
3    CH2017        None           NaN          F -0.21
5    CZ2016        None           NaN          F  0.37
6   ECU2016        None           NaN          F -2.00
7   ECZ2016        None           NaN          F  2.30
8   ESH2017        None           NaN          F -0.06
14  LCG2017        None           NaN          F  0.44
15  LCJ2017        None           NaN          F -0.44
17  LCZ2016        None           NaN          F  0.33
20   SF2017        None           NaN          F -0.45
21   SH2017        None           NaN          F  0.11
22  SIH2017        None           NaN          F -2.26
24  SIZ2016        None           NaN          F  1.79
25   WH2017        None           NaN          F -0.31
26   WZ2016        None           NaN          F  0.18

In [1]:
import ta.strategy_hedger as sh
import numpy as np
import pandas as pd
wuhu = sh.get_hedge_4strategy(alias='LNZ16V16VCS')
wuhu

,underlying_ticker,hedge_price,option_delta,underlying_delta,total_delta,hedge
0,LNV2016,62.3625,-1.56,1.56,0,-0
0,BOZ2016,34.5950,0.00,1.00,1,-1

In [30]:
intraday_price_frame['mid_price'].loc[intraday_price_frame['underlying_ticker']==tickers_with_no_options[0]]

15    57.9
Name: mid_price, dtype: float64

In [31]:
import ta.strategy_greeks as sg
import pandas as pd
import get_price.get_options_price as gop
output = sg.get_greeks_4strategy_4date(alias='SI_inventory_Aug16',as_of_date=20160828)

# SIU16Z16VCS
output['ticker_portfolio']
#output['strike_portfolio']
# 2.6/ -5.2
# 3/-6
#output['strike_portfolio']

# silver portfolio might cause problems
#output

# -2.36-3.24  5.6 OEVs 2 straddles
output['ticker_portfolio']
output['strike_portfolio']['total_oev'].sum()
output['ticker_portfolio']
output['strike_portfolio']['total_oev'].sum()

ValueError: attempt to get argmin of an empty sequence

In [7]:
import ta.pnl as tapnl
alias = 'HON2016Q2016Q2016U2016'
tapnl.close_strategy(alias='SIZ2016_long_scv')

In [16]:
import ta.abn_position_reconciler as pr
pr.reconcile_position()

Empty DataFrame
Columns: [generalized_ticker, qty_x, qty_y, qty_diff]
Index: []

In [6]:
import ta.strategy_greeks as sg
greeks_out = sg.get_greeks_4strategy_4date(alias='LCZ16V16VCS',as_of_date=20160614)
greeks_out['ticker_portfolio']

    ticker  total_oev      theta
0  LCV2016 -19.988474  157.53088
1  LCZ2016  19.999996 -120.84700

In [ ]:
import ta.strategy_followup as sf

In [1]:
import ta.strategy as ts
ts.move_position_from_strategy_2_strategy(strategy_from='SIZ2016_long_scv',strategy_to='SI_inventory_Aug16')

In [26]:
import ta.strategy as ts
import shared.calendar_utilities as cu
wuhu = ts.get_net_position_4strategy_alias(alias='spreadCarryAug16_2')
wuhu

     ticker option_type  strike_price instrument  qty
0   CCH2017        None           NaN          F    9
1   CCZ2016        None           NaN          F   -9
2    CN2017        None           NaN          F    1
3   CTH2017        None           NaN          F   -2
4   CTK2017        None           NaN          F    2
5    CU2017        None           NaN          F   -1
6   HON2017        None           NaN          F   -6
7   HOQ2017        None           NaN          F    6
8   LCG2017        None           NaN          F    1
9   LCZ2016        None           NaN          F   -1
10  LNM2017        None           NaN          F   -2
11  LNN2017        None           NaN          F    2
14  OJF2017        None           NaN          F    4
15  OJX2016        None           NaN          F   -4
16  RBK2017        None           NaN          F   -4
17  RBM2017        None           NaN          F    4
18   SF2017        None           NaN          F    3
19  SMN2017        None           NaN          F    4
20  SMQ2017        None           NaN          F   -4
21   SX2016        None           NaN          F   -3
22   WN2017        None           NaN          F    3
23   WU2017        None           NaN          F   -3

In [8]:
import shared.calendar_utilities as cu
import ta.strategy as tas
wuhu  = tas.get_net_position_4strategy_alias(alias='LVJZ2017_long_scv',as_of_date=cu.get_doubledate())
wuhu

# buy back two futures after

# 16.25 long 4 SIU straddles
# 16 long 4 SIU straddles

    ticker option_type  strike_price instrument   qty
0  LCJ2017        None           NaN          F  2.04
1  LCJ2017           C           112          O  9.00
2  LCJ2017           P           112          O  9.00

In [9]:
import ta.position_close_helper as pch
pch.calc_intrday_pnl_from_prices(alias='LVJZ2017_long_scv',structure_price=12.05,LCJ2017=107.75)

# also buy one CLZ

{'futures_pnl': -652.7999999999977,
 'structure_pnl': 90.000000000007674,
 'structure_settle': 12.024999999999999}

In [2]:
import ta.position_close_helper as pch
pch.calc_intrday_pnl_from_prices(alias='ECZ2016_short_scv',structure_price=0.0423,ECZ2016=1.1315)

{'futures_pnl': -393.62500000001245,
 'structure_pnl': -562.49999999999443,
 'structure_settle': 0.041400000000000006}