In [4]:
import contract_utilities.expiration as exp
report_date = exp.doubledate_shift_bus_days()

In [5]:
# Create DB Strategy

import ta.strategy as ts
ts.generate_db_strategy_from_strategy_sheet(id=50,strategy_class='futures_butterfly',report_date=report_date)

229

In [19]:
# Create Misc Strategy
import ta.strategy as ts
ts.generate_db_strategy_from_alias(alias='SMN17H17VCS',description_string='strategy_class=vcs&betsize=13197')

230

In [16]:
import ta.trade_fill_loader as tfl
import datetime as dt
#wuhu = tfl.assign_trades_2strategies(trade_source='tt')
#wuhu
#tfl.load_tt_trades(tags2exclude=['ifs_0','ifs_1','ifs_2','DeltaHedge'])
tfl.load_cme_direct_trades()
#tfl.load_manual_entry_trades()
#wuhu = tfl.get_formatted_tt_fills()
#wuhu['aggregate_trades']

#tfl.load_latest_tt_fills()
#dt.datetime.strptime(wuhu['Contract'].values[40],'%y-%b')


#tfl.load_cme__fills()
#wuhu = tfl.get_formatted_cme_direct_fills()
#wuhu['aggregate_trades']

In [17]:
trade_frame = tfl.get_formatted_cme_direct_fills()
trade_frame['aggregate_trades']

                         trade_price  trade_quantity   ticker ticker_head  \
generalized_ticker side
CLX2016            Buy         51.30               1  CLX2016          CL
CLZ2016            Sell        51.63              -1  CLZ2016          CL
LCV2016            Sell       116.90              -1  LCV2016          LC
LCZ2016            Buy        116.90               1  LCZ2016          LC
WU2016             Buy        508.25               4   WU2016           W
                   Sell       508.00              -1   WU2016           W
WZ2016             Sell       527.50              -2   WZ2016           W

                        instrument option_type  strike_price real_tradeQ
generalized_ticker side
CLX2016            Buy           F        None           NaN        True
CLZ2016            Sell          F        None           NaN        True
LCV2016            Sell          F        None           NaN        True
LCZ2016            Buy           F        None           NaN        True
WU2016             Buy           F        None           NaN        True
                   Sell          F        None           NaN        True
WZ2016             Sell          F        None           NaN        True

In [3]:
import ta.trade_fill_loader as tfl
wuhu = tfl.get_formatted_manual_entry_fills()
wuhu

   ticker option_type  strike_price  trade_price  trade_quantity
0  SU2016           P          1040       24.875               5
1  SU2016           C          1040       90.625               5
2  SX2016           P          1020       32.250              -5
3  SX2016           C          1020       97.250              -5

In [3]:

#Daily Hedge

import ta.strategy_hedger as sh
import shared.calendar_utilities as cu
import ta.strategy as tas
#sh.strategy_hedge_report()
import ta.strategy as tas

wuhu  = tas.get_net_position_4strategy_alias(alias='delta_oct16',as_of_date=cu.get_doubledate())
wuhu

     ticker option_type  strike_price instrument   qty
0   CDH2017        None           NaN          F -3.79
1   CDZ2016        None           NaN          F  4.00
3   CLM2017        None           NaN          F  0.55
4   CLZ2017        None           NaN          F -0.16
7   ECZ2016        None           NaN          F  0.38
8   ESH2017        None           NaN          F  1.16
9   ESZ2016        None           NaN          F -1.00
10  GCG2017        None           NaN          F  2.51
11  GCM2017        None           NaN          F -1.93
12  GCZ2016        None           NaN          F -1.00
16  LNG2017        None           NaN          F -0.46
17  LNJ2017        None           NaN          F  0.58
18  LNZ2016        None           NaN          F  0.04
19   SF2017        None           NaN          F  1.00
20   SH2017        None           NaN          F -1.00
21  SIH2017        None           NaN          F  6.20
22  SIN2017        None           NaN          F -1.06
23  SIZ2016        None           NaN          F -5.02
24  SMH2017        None           NaN          F -0.51
25  SMN2017        None           NaN          F  0.02

In [26]:
250**(0.5)

15.811388300841896

In [30]:
intraday_price_frame['mid_price'].loc[intraday_price_frame['underlying_ticker']==tickers_with_no_options[0]]

15    57.9
Name: mid_price, dtype: float64

In [3]:
import ta.strategy_greeks as sg
import pandas as pd
import get_price.get_options_price as gop
output = sg.get_greeks_4strategy_4date(alias='SI_inventory_Aug16')

# SIU16Z16VCS
output['ticker_portfolio']
#output['strike_portfolio']
# 2.6/ -5.2
# 3/-6
#output['strike_portfolio']

# silver portfolio might cause problems
#output

# -2.36-3.24  5.6 OEVs 2 straddles
output['ticker_portfolio']
output['strike_portfolio']['total_oev'].sum()
output['ticker_portfolio']
output['strike_portfolio']['total_oev'].sum()
output['ticker_portfolio']
#output['strike_portfolio']

    ticker  total_oev     theta  dollar_vega
0  SIH2017  -2.656538  49.38200  -544.079723
1  SIZ2016   1.389156 -64.10325   136.127589

In [9]:
import ta.pnl as tapnl
alias = 'HON2016Q2016Q2016U2016'
tapnl.close_strategy(alias='SF17H17VCS_2')

In [21]:
import ta.abn_position_reconciler as pr
pr.reconcile_position()

Empty DataFrame
Columns: [generalized_ticker, qty_x, ticker, option_type, strike_price, instrument, qty_y, qty_diff]
Index: []

In [6]:
import ta.strategy_greeks as sg
greeks_out = sg.get_greeks_4strategy_4date(alias='LCZ16V16VCS',as_of_date=20160614)
greeks_out['ticker_portfolio']

    ticker  total_oev      theta
0  LCV2016 -19.988474  157.53088
1  LCZ2016  19.999996 -120.84700

In [ ]:
import ta.strategy_followup as sf

In [8]:
import ta.strategy as ts
ts.move_position_from_strategy_2_strategy(strategy_from='SIH2017_long_scv',strategy_to='SIH17N17VCS')

In [6]:
import ta.strategy as ts
import shared.calendar_utilities as cu
wuhu = ts.get_net_position_4strategy_alias(alias='ECZ2016_short_scv')
wuhu

    ticker option_type  strike_price instrument  qty
0  BOZ2016        None           NaN          F    1
2  SMZ2016        None           NaN          F    1
3   SX2016        None           NaN          F   -1

In [18]:
import shared.calendar_utilities as cu
import ta.strategy as tas
wuhu  = tas.get_net_position_4strategy_alias(alias='LNG2017_long_scv',as_of_date=cu.get_doubledate())
wuhu

# buy back two futures after

# 16.25 long 4 SIU straddles
# 16 long 4 SIU straddles

    ticker option_type  strike_price instrument    qty
0  LNG2017        None           NaN          F  -2.47
1  LNG2017           C            54          O  16.00
2  LNG2017           P            54          O  16.00

In [1]:
import ta.position_close_helper as pch
pch.calc_intrday_pnl_from_prices(alias='SF17H17VCS_2',structure_price=24.75,SF2017=1025.5,SH2017=1031.5)

# also buy one CLZ

{'futures_pnl': -188.5, 'structure_pnl': 750.0, 'structure_settle': 25.375}

In [18]:
import ta.position_close_helper as pch
pch.calc_intrday_pnl_from_prices(alias='LNG17Z16VCS',structure_price=8.425,LNZ2016=47.625,LNG2017=54.7)

{'futures_pnl': 200.30000000000084,
 'structure_pnl': -300.0,
 'structure_settle': 8.0500000000000007}

In [8]:
import ta.position_close_helper as pch
pch.calc_intraday_structure_pnl_from_prices(ticker_list=['LNZ2016','LNG2017'],
                                            structure_price = -0.275,
                                            strike_list=[54,60],
                                            underlying_price_list=[45.9, 53.15],
                                            qty = 45,
                                            structure_type='straddle_spread')

{'delta_pnl': 1883.1045914999706,
 'structure_pnl': -2249.999999999994,
 'structure_price_yesterday': -0.15000000000000036,
 'total_pnl': -366.89540850002345}