In [15]:
import contract_utilities.expiration as exp
report_date = exp.doubledate_shift_bus_days()

In [17]:
# Create DB Strategy

import ta.strategy as ts
ts.generate_db_strategy_from_strategy_sheet(id=257,strategy_class='futures_butterfly',report_date=report_date)

219

In [9]:
# Create Misc Strategy
import ta.strategy as ts
ts.generate_db_strategy_from_alias(alias='GCG17M17VCS',description_string='strategy_class=vcs&betsize=13197')

217

In [16]:
import ta.trade_fill_loader as tfl
import datetime as dt
#wuhu = tfl.assign_trades_2strategies(trade_source='tt')
#wuhu
tfl.load_tt_trades()
#tfl.load_cme_direct_trades()
#tfl.load_manual_entry_trades()
#wuhu = tfl.get_formatted_tt_fills()
#wuhu['aggregate_trades']

#tfl.load_latest_tt_fills()
#dt.datetime.strptime(wuhu['Contract'].values[40],'%y-%b')


#tfl.load_cme__fills()
#wuhu = tfl.get_formatted_cme_direct_fills()
#wuhu['aggregate_trades']

In [17]:
trade_frame = tfl.get_formatted_cme_direct_fills()
trade_frame['aggregate_trades']

                         trade_price  trade_quantity   ticker ticker_head  \
generalized_ticker side
CLX2016            Buy         51.30               1  CLX2016          CL
CLZ2016            Sell        51.63              -1  CLZ2016          CL
LCV2016            Sell       116.90              -1  LCV2016          LC
LCZ2016            Buy        116.90               1  LCZ2016          LC
WU2016             Buy        508.25               4   WU2016           W
                   Sell       508.00              -1   WU2016           W
WZ2016             Sell       527.50              -2   WZ2016           W

                        instrument option_type  strike_price real_tradeQ
generalized_ticker side
CLX2016            Buy           F        None           NaN        True
CLZ2016            Sell          F        None           NaN        True
LCV2016            Sell          F        None           NaN        True
LCZ2016            Buy           F        None           NaN        True
WU2016             Buy           F        None           NaN        True
                   Sell          F        None           NaN        True
WZ2016             Sell          F        None           NaN        True

In [3]:
import ta.trade_fill_loader as tfl
wuhu = tfl.get_formatted_manual_entry_fills()
wuhu

   ticker option_type  strike_price  trade_price  trade_quantity
0  SU2016           P          1040       24.875               5
1  SU2016           C          1040       90.625               5
2  SX2016           P          1020       32.250              -5
3  SX2016           C          1020       97.250              -5

In [22]:

#Daily Hedge

import ta.strategy_hedger as sh
import shared.calendar_utilities as cu
import ta.strategy as tas
#sh.strategy_hedge_report()
import ta.strategy as tas

wuhu  = tas.get_net_position_4strategy_alias(alias='delta_oct16',as_of_date=cu.get_doubledate())
wuhu

     ticker option_type  strike_price instrument   qty
0   CDH2017        None           NaN          F -0.14
2    CH2017        None           NaN          F  3.56
3   CLM2017        None           NaN          F  0.12
4   CLZ2017        None           NaN          F  0.20
5    CZ2016        None           NaN          F -4.00
6    CZ2017        None           NaN          F  0.28
7   ECZ2016        None           NaN          F -0.38
8   ESH2017        None           NaN          F  0.80
9   ESZ2016        None           NaN          F -1.00
10  GCG2017        None           NaN          F  0.47
11  GCM2017        None           NaN          F -0.43
12  LCG2017        None           NaN          F -0.32
13  LCJ2017        None           NaN          F  0.58
14  LCZ2016        None           NaN          F -0.19
15  LNG2017        None           NaN          F  0.16
16  LNJ2017        None           NaN          F -0.51
17  LNZ2016        None           NaN          F  0.11
18   SF2017        None           NaN          F  0.38
19   SH2017        None           NaN          F -0.19
20  SIH2017        None           NaN          F  5.88
21  SIZ2016        None           NaN          F -5.61

In [26]:
250**(0.5)

15.811388300841896

In [30]:
intraday_price_frame['mid_price'].loc[intraday_price_frame['underlying_ticker']==tickers_with_no_options[0]]

15    57.9
Name: mid_price, dtype: float64

In [2]:
import ta.strategy_greeks as sg
import pandas as pd
import get_price.get_options_price as gop
output = sg.get_greeks_4strategy_4date(alias='LCJ17Z16VCS')

# SIU16Z16VCS
output['ticker_portfolio']
#output['strike_portfolio']
# 2.6/ -5.2
# 3/-6
#output['strike_portfolio']

# silver portfolio might cause problems
#output

# -2.36-3.24  5.6 OEVs 2 straddles
output['ticker_portfolio']
output['strike_portfolio']['total_oev'].sum()
output['ticker_portfolio']
output['strike_portfolio']['total_oev'].sum()
output['ticker_portfolio']
#output['strike_portfolio']

    ticker  total_oev       theta  dollar_vega
0  LCJ2017  20.305046 -127.914900  2179.511894
1  LCZ2016 -11.533663  176.151412  -653.943241

In [3]:
import ta.pnl as tapnl
alias = 'HON2016Q2016Q2016U2016'
tapnl.close_strategy(alias='LVJZ2017_long_scv')

In [24]:
import ta.abn_position_reconciler as pr
pr.reconcile_position()

Empty DataFrame
Columns: [generalized_ticker, qty_x, qty_y, qty_diff]
Index: []

In [6]:
import ta.strategy_greeks as sg
greeks_out = sg.get_greeks_4strategy_4date(alias='LCZ16V16VCS',as_of_date=20160614)
greeks_out['ticker_portfolio']

    ticker  total_oev      theta
0  LCV2016 -19.988474  157.53088
1  LCZ2016  19.999996 -120.84700

In [ ]:
import ta.strategy_followup as sf

In [18]:
import ta.strategy as ts
ts.move_position_from_strategy_2_strategy(strategy_from='delta_jul16',strategy_to='delta_oct16')

In [6]:
import ta.strategy as ts
import shared.calendar_utilities as cu
wuhu = ts.get_net_position_4strategy_alias(alias='S_BO_SM_ifs_Oct-2016')
wuhu

    ticker option_type  strike_price instrument  qty
0  BOZ2016        None           NaN          F    1
2  SMZ2016        None           NaN          F    1
3   SX2016        None           NaN          F   -1

In [25]:
import shared.calendar_utilities as cu
import ta.strategy as tas
wuhu  = tas.get_net_position_4strategy_alias(alias='C_W_ifs_Oct-2016',as_of_date=cu.get_doubledate())
wuhu

# buy back two futures after

# 16.25 long 4 SIU straddles
# 16 long 4 SIU straddles

   ticker option_type  strike_price instrument  qty
0  CZ2016        None           NaN          F    1
1  WZ2016        None           NaN          F   -1

In [12]:
import ta.position_close_helper as pch
pch.calc_intrday_pnl_from_prices(alias='SIZ16H17VCS',structure_price=0.69,SIZ2016=17.425,SIH2017=17.535)

# also buy one CLZ

{'futures_pnl': -999.7499999997785,
 'structure_pnl': 1.1657341758564144e-11,
 'structure_settle': 0.69000000000000006}

In [6]:
import ta.position_close_helper as pch
pch.calc_intrday_pnl_from_prices(alias='LNG2017_long_scv',structure_price=8.663,LNG2017=51.55)

{'futures_pnl': 302.3999999999951,
 'structure_pnl': -2121.5999999999958,
 'structure_settle': 8.9749999999999996}