In [6]:
import contract_utilities.expiration as exp
report_date = exp.doubledate_shift_bus_days()

In [7]:
# Create DB Strategy

import ta.strategy as ts
ts.generate_db_strategy_from_strategy_sheet(id=324,strategy_class='futures_butterfly',report_date=report_date)

70

In [7]:
# Create Misc Strategy
import ta.strategy as ts
ts.generate_db_strategy_from_alias(alias='delta',description_string='strategy_class=delta')

68

In [8]:
import ta.trade_fill_loader as tfl
import datetime as dt
#wuhu = tfl.assign_trades_2strategies()
#wuhu
tfl.load_tt_trades()
#tfl.load_cme_direct_trades()
#wuhu = tfl.get_formatted_tt_fills()
#wuhu

#dt.datetime.strptime(wuhu['Contract'].values[40],'%y-%b')


#tfl.load_cme__fills()

In [5]:

#Daily Hedge

import ta.strategy_hedger as sh
import shared.calendar_utilities as cu
import ta.strategy as tas
#sh.strategy_hedge_report()
import ta.strategy as tas

tas.get_net_position_4strategy_alias(alias='Delta',as_of_date=cu.get_doubledate())

   ticker option_type strike_price instrument   qty
0  WN2016        None         None          F  0.28
1  WU2016        None         None          F -0.43
2  WZ2016        None         None          F  0.08

In [3]:
sh.get_hedge_4strategy(alias='WZ16U16VCS')

,underlying_ticker,hedge_price,option_delta,underlying_delta,total_delta,hedge
0,WU2016,479.5,0.14,-0.14,0.000000e+00,-0.000000e+00
1,WZ2016,494.5,0.08,-0.08,-1.387779e-17,1.387779e-17

In [8]:
import get_price.presave_price as psp
psp.generate_and_update_futures_data_file_4tickerhead(ticker_head='B')

In [2]:
import ta.pnl as tapnl
alias = 'HON2016Q2016Q2016U2016'
tapnl.close_strategy(alias='CLG2017H2017F2017G2017')

In [4]:
import ta.strategy as tas
tas.get_net_position_4strategy_alias(alias='LNZ2016G2017V2016Z2016')

    ticker option_type strike_price instrument  qty
0  LNG2017        None         None          F   -3
1  LNV2016        None         None          F   -3
2  LNZ2016        None         None          F    6

In [1]:
import ta.abn_position_reconciler as pr
pr.reconcile_position()

     ticker  qty_x  qty_y  qty_diff
9    CH2017    -10    -17         7
10   CK2017      5     12        -7
14   SK2016      0     -1         1
15   SN2016      2      4        -2
16   SQ2016     -1     -2         1
23  LCQ2016     -4     -7         3
24  LCV2016      7     12        -5
25  LCZ2016     -3     -5         2
37  CLF2017    -39    NaN       NaN
38  CLG2017     79    NaN       NaN
39  CLH2017    -40    NaN       NaN
46  RBN2016      0      3        -3
47  RBQ2016     -1     -7         6
48  RBU2016      1      4        -3
51  RBF2017     -9     -1        -8
52  RBG2017     15    NaN       NaN
53  RBH2017     -7    NaN       NaN
71   BM2016     -5    -10         5
72   BN2016     10     20       -10
73   BQ2016     -5    -10         5
76   BF2017     66     68        -2
77   BG2017      0     -2         2
80   BK2017    -21    -23         2
81   BM2017     21     23        -2
82   BU2017     -1    NaN       NaN
83   BZ2017      2    NaN       NaN
84   BH2018     -1    NaN       NaN

In [13]:
import ta.strategy_hedger

Empty DataFrame
Columns: [ticker, qty]
Index: []

In [3]:
alias = 'HON2016Q2016Q2016U2016'
import ta.strategy as ts
import contract_utilities.expiration as exp
strategy_info = ts.get_strategy_info_from_alias(alias=alias)
strategy_info['open_date']

datetime.datetime(2016, 1, 7, 0, 0)

In [5]:
import ta.strategy as ts
ts.move_position_from_strategy_2_strategy(strategy_from='spreadCarryFeb16',strategy_to='spreadCarryApril16')

In [1]:
import ta.strategy as ts
ts.move_position_from_strategy_2_strategy(strategy_from='CL-Jan16-Carry',strategy_to='spreadCarryFeb16')

[('CLN2016',
  None,
  None,
  37,
  37.04,
  -2,
  20160222,
  'F',
  True,
  datetime.datetime(2016, 2, 23, 16, 19, 12, 695074),
  datetime.datetime(2016, 2, 23, 16, 19, 12, 695074)),
 ('CLQ2016',
  None,
  None,
  37,
  37.73,
  2,
  20160222,
  'F',
  True,
  datetime.datetime(2016, 2, 23, 16, 19, 12, 695074),
  datetime.datetime(2016, 2, 23, 16, 19, 12, 695074))]

In [23]:
import ta.strategy as ts
wuhu = ts.get_net_position_4strategy_alias(alias='spreadCarryJan16')
wuhu


[wuhu['ticker'].iloc[x] if wuhu['instrument'].iloc[x]=='F' else
 wuhu['ticker'].iloc[x] + '_' + wuhu['option_type'].iloc[x] + str(wuhu['strike_price'].iloc[x])
 for x in range(len(wuhu.index))]

['CK2016',
 'CN2016',
 'SK2016',
 'SN2016',
 'LNG2017',
 'LNZ2016',
 'SMV2016',
 'SMZ2016',
 'KCK2016',
 'KCN2016',
 'FCK2016',
 'FCQ2016',
 'BOF2017',
 'BOZ2016',
 'KWH2017',
 'KWZ2016',
 'CK2016',
 'CN2016',
 'NGQ2016',
 'NGU2016',
 'FCK2016',
 'FCQ2016',
 'SBH2017',
 'SBV2016',
 'CH2017',
 'CZ2016',
 'CCN2016',
 'CCU2016',
 'EDU2017',
 'EDZ2017',
 'KCK2016',
 'KCN2016',
 'KCU2016',
 'KCZ2016',
 'SK2016',
 'SN2016',
 'SQ2016',
 'RBX2016',
 'RBZ2016',
 'SBH2017',
 'SBV2016']

In [1]:
import ta.strategy as ts
wuhu = ts.get_net_position_4strategy_alias(alias='spreadCarryJan16')
wuhu

     ticker option_type strike_price instrument  qty
0   BOF2017        None         None          F   -2
1   BOZ2016        None         None          F    2
2   CCN2016        None         None          F   -1
3   CCU2016        None         None          F    1
4    CH2017        None         None          F    3
7    CZ2016        None         None          F   -3
8   EDU2017        None         None          F   -4
9   EDZ2017        None         None          F    4
14  KCU2016        None         None          F   -1
15  KCZ2016        None         None          F    1
16  KWH2017        None         None          F    2
17  KWZ2016        None         None          F   -2
18  LNG2017        None         None          F   -1
19  LNZ2016        None         None          F    1
20  NGQ2016        None         None          F   -4
21  NGU2016        None         None          F    4
22  RBX2016        None         None          F    1
23  RBZ2016        None         None          F   -1
27  SMV2016        None         None          F   -2
28  SMZ2016        None         None          F    2
29   SN2016        None         None          F    1
30   SQ2016        None         None          F   -1