In [6]:
import contract_utilities.expiration as exp
report_date = exp.doubledate_shift_bus_days()

In [10]:
# Create DB Strategy

import ta.strategy as ts
ts.generate_db_strategy_from_strategy_sheet(id=18,strategy_class='futures_butterfly',report_date=report_date)

158

In [21]:
# Create Misc Strategy
import ta.strategy as ts
ts.generate_db_strategy_from_alias(alias='LCG17Z16VCS',description_string='strategy_class=vcs&betsize=8100')

156

In [20]:
import ta.trade_fill_loader as tfl
import datetime as dt
#wuhu = tfl.assign_trades_2strategies(trade_source='tt')
#wuhu
tfl.load_tt_trades()
#tfl.load_cme_direct_trades()
#tfl.load_manual_entry_trades()
#wuhu = tfl.get_formatted_tt_fills()
#wuhu['aggregate_trades']

#tfl.load_latest_tt_fills()
#dt.datetime.strptime(wuhu['Contract'].values[40],'%y-%b')


#tfl.load_cme__fills()
#wuhu = tfl.get_formatted_cme_direct_fills()
#wuhu['aggregate_trades']

In [17]:
trade_frame = tfl.get_formatted_cme_direct_fills()
trade_frame['aggregate_trades']

                         trade_price  trade_quantity   ticker ticker_head  \
generalized_ticker side
CLX2016            Buy         51.30               1  CLX2016          CL
CLZ2016            Sell        51.63              -1  CLZ2016          CL
LCV2016            Sell       116.90              -1  LCV2016          LC
LCZ2016            Buy        116.90               1  LCZ2016          LC
WU2016             Buy        508.25               4   WU2016           W
                   Sell       508.00              -1   WU2016           W
WZ2016             Sell       527.50              -2   WZ2016           W

                        instrument option_type  strike_price real_tradeQ
generalized_ticker side
CLX2016            Buy           F        None           NaN        True
CLZ2016            Sell          F        None           NaN        True
LCV2016            Sell          F        None           NaN        True
LCZ2016            Buy           F        None           NaN        True
WU2016             Buy           F        None           NaN        True
                   Sell          F        None           NaN        True
WZ2016             Sell          F        None           NaN        True

In [3]:
import ta.trade_fill_loader as tfl
wuhu = tfl.get_formatted_manual_entry_fills()
wuhu

   ticker option_type  strike_price  trade_price  trade_quantity
0  SU2016           P          1040       24.875               5
1  SU2016           C          1040       90.625               5
2  SX2016           P          1020       32.250              -5
3  SX2016           C          1020       97.250              -5

In [16]:

#Daily Hedge

import ta.strategy_hedger as sh
import shared.calendar_utilities as cu
import ta.strategy as tas
#sh.strategy_hedge_report()
import ta.strategy as tas

wuhu  = tas.get_net_position_4strategy_alias(alias='delta_jul16',as_of_date=cu.get_doubledate())
wuhu

     ticker option_type  strike_price instrument   qty
1   BOV2016        None           NaN          F -0.28
2   BOZ2016        None           NaN          F  0.31
3    CH2017        None           NaN          F -0.41
4   CLZ2016        None           NaN          F -0.12
5    CZ2016        None           NaN          F  0.63
6   ECU2016        None           NaN          F -1.00
7   ECZ2016        None           NaN          F  1.47
8   GCG2017        None           NaN          F  7.36
9   GCZ2016        None           NaN          F -7.09
12  LCG2017        None           NaN          F -0.27
13  LCJ2017        None           NaN          F  0.41
15  LCZ2016        None           NaN          F -0.27
16  LNV2016        None           NaN          F  0.08
17  LNZ2016        None           NaN          F -0.48
18  SIH2017        None           NaN          F -2.97
19  SIU2016        None           NaN          F  5.88
20  SIZ2016        None           NaN          F -2.99

In [5]:
import ta.strategy_hedger as sh
sh.get_hedge_4strategy(alias='CLX16Z16VCS')

,underlying_ticker,hedge_price,option_delta,underlying_delta,total_delta,hedge
0,CLX2016,50.680,1.82,-1.34,0.48,-0.48
1,CLZ2016,50.915,-2.21,1.78,-0.43,0.43

In [8]:
import ta.strategy_greeks as sg
import pandas as pd
import get_price.get_options_price as gop
output = sg.get_greeks_4strategy_4date(alias='CLX16Z16VCS',as_of_date=20160705)

# SIU16Z16VCS
output['ticker_portfolio']
#output['strike_portfolio']
# 2.6/ -5.2
# 3/-6

# silver portfolio might cause problems
#output

# -2.36-3.24  5.6 OEVs 2 straddles

    ticker  total_oev      theta
0  CLX2016  33.801526 -610.57693
1  CLZ2016 -34.000042  551.97351

In [7]:
import ta.pnl as tapnl
alias = 'HON2016Q2016Q2016U2016'
tapnl.close_strategy(alias='JYZ2016_long_scv')

In [25]:
import ta.abn_position_reconciler as pr
pr.reconcile_position()

Empty DataFrame
Columns: [generalized_ticker, qty_x, qty_y, qty_diff]
Index: []

In [6]:
import ta.strategy_greeks as sg
greeks_out = sg.get_greeks_4strategy_4date(alias='LCZ16V16VCS',as_of_date=20160614)
greeks_out['ticker_portfolio']

    ticker  total_oev      theta
0  LCV2016 -19.988474  157.53088
1  LCZ2016  19.999996 -120.84700

In [ ]:
import ta.strategy_followup as sf

In [5]:
import ta.strategy as ts
ts.move_position_from_strategy_2_strategy(strategy_from='delta_june16',strategy_to='delta_jul16')

In [11]:
import ta.strategy as ts
import shared.calendar_utilities as cu
wuhu = ts.get_net_position_4strategy_alias(alias='RBJ2017K2017K2017M2017_2')
wuhu

    ticker option_type  strike_price instrument  qty
0  RBJ2017        None           NaN          F   30
1  RBK2017        None           NaN          F  -57
2  RBM2017        None           NaN          F   27

In [23]:
import shared.calendar_utilities as cu
import ta.strategy as tas
wuhu  = tas.get_net_position_4strategy_alias(alias='BN2017Q2017Q2017U2017',as_of_date=cu.get_doubledate())
wuhu

# buy back two futures after

   ticker option_type  strike_price instrument  qty
0  BN2017        None           NaN          F   28
1  BQ2017        None           NaN          F  -57
2  BU2017        None           NaN          F   29

In [12]:
import ta.position_close_helper as pch
pch.calc_intrday_pnl_from_prices(alias='JYZ2016_long_scv',structure_price=6155,JYZ2016=95900)

# also sell one JYU

{'futures_pnl': 469.0625, 'structure_pnl': -506.25, 'structure_settle': 6290.0}

In [6]:
import ta.position_close_helper as pch
pch.calc_intrday_pnl_from_prices(alias='WU16Z16VCS',structure_price=15.5,WU2016=436.5,WZ2016=459)

{'futures_pnl': 1365.0, 'structure_pnl': -1375.0, 'structure_settle': 14.125}