In [21]:
import contract_utilities.expiration as exp
report_date = exp.doubledate_shift_bus_days()

In [22]:
# Create DB Strategy

import ta.strategy as ts
ts.generate_db_strategy_from_strategy_sheet(id=0,strategy_class='futures_butterfly',report_date=report_date)

191

In [14]:
# Create Misc Strategy
import ta.strategy as ts
ts.generate_db_strategy_from_alias(alias='LNG2017_long_scv',description_string='strategy_class=scv&betsize=4591')

192

In [24]:
import ta.trade_fill_loader as tfl
import datetime as dt
#wuhu = tfl.assign_trades_2strategies(trade_source='tt')
#wuhu
tfl.load_tt_trades()
#tfl.load_cme_direct_trades()
#tfl.load_manual_entry_trades()
#wuhu = tfl.get_formatted_tt_fills()
#wuhu['aggregate_trades']

#tfl.load_latest_tt_fills()
#dt.datetime.strptime(wuhu['Contract'].values[40],'%y-%b')


#tfl.load_cme__fills()
#wuhu = tfl.get_formatted_cme_direct_fills()
#wuhu['aggregate_trades']

In [17]:
trade_frame = tfl.get_formatted_cme_direct_fills()
trade_frame['aggregate_trades']

                         trade_price  trade_quantity   ticker ticker_head  \
generalized_ticker side
CLX2016            Buy         51.30               1  CLX2016          CL
CLZ2016            Sell        51.63              -1  CLZ2016          CL
LCV2016            Sell       116.90              -1  LCV2016          LC
LCZ2016            Buy        116.90               1  LCZ2016          LC
WU2016             Buy        508.25               4   WU2016           W
                   Sell       508.00              -1   WU2016           W
WZ2016             Sell       527.50              -2   WZ2016           W

                        instrument option_type  strike_price real_tradeQ
generalized_ticker side
CLX2016            Buy           F        None           NaN        True
CLZ2016            Sell          F        None           NaN        True
LCV2016            Sell          F        None           NaN        True
LCZ2016            Buy           F        None           NaN        True
WU2016             Buy           F        None           NaN        True
                   Sell          F        None           NaN        True
WZ2016             Sell          F        None           NaN        True

In [3]:
import ta.trade_fill_loader as tfl
wuhu = tfl.get_formatted_manual_entry_fills()
wuhu

   ticker option_type  strike_price  trade_price  trade_quantity
0  SU2016           P          1040       24.875               5
1  SU2016           C          1040       90.625               5
2  SX2016           P          1020       32.250              -5
3  SX2016           C          1020       97.250              -5

In [19]:

#Daily Hedge

import ta.strategy_hedger as sh
import shared.calendar_utilities as cu
import ta.strategy as tas
#sh.strategy_hedge_report()
import ta.strategy as tas

wuhu  = tas.get_net_position_4strategy_alias(alias='delta_jul16',as_of_date=cu.get_doubledate())
wuhu

     ticker option_type  strike_price instrument   qty
3    CH2017        None           NaN          F  2.47
5    CZ2016        None           NaN          F -2.37
6    CZ2017        None           NaN          F  0.14
7   ECU2016        None           NaN          F -3.00
8   ECZ2016        None           NaN          F  3.18
9   ESH2017        None           NaN          F  0.86
11  ESZ2016        None           NaN          F -1.00
17  LCG2017        None           NaN          F -0.41
18  LCJ2017        None           NaN          F  0.10
20  LCZ2016        None           NaN          F  0.19
21  LNG2017        None           NaN          F -0.23
22  LNJ2017        None           NaN          F  0.20
24  LNZ2016        None           NaN          F -0.15
27  SIH2017        None           NaN          F -3.35
29  SIZ2016        None           NaN          F  3.05
30   WH2017        None           NaN          F -3.16
31   WZ2016        None           NaN          F  3.37

In [30]:
import ta.strategy_hedger as sh
import numpy as np
import pandas as pd
wuhu = sh.get_hedge_4strategy(alias='CZ17H17VCS')
wuhu

,underlying_ticker,hedge_price,option_delta,underlying_delta,total_delta,hedge
0,CH2017,349.875,-3.12,3.04,-0.08,0.08
1,CZ2017,380.500,1.33,-1.30,0.03,-0.03

In [30]:
intraday_price_frame['mid_price'].loc[intraday_price_frame['underlying_ticker']==tickers_with_no_options[0]]

15    57.9
Name: mid_price, dtype: float64

In [5]:
import ta.strategy_greeks as sg
import pandas as pd
import get_price.get_options_price as gop
output = sg.get_greeks_4strategy_4date(alias='SI_inventory_Aug16')

# SIU16Z16VCS
output['ticker_portfolio']
#output['strike_portfolio']
# 2.6/ -5.2
# 3/-6
#output['strike_portfolio']

# silver portfolio might cause problems
#output

# -2.36-3.24  5.6 OEVs 2 straddles
output['ticker_portfolio']
output['strike_portfolio']['total_oev'].sum()
output['ticker_portfolio']
output['strike_portfolio']['total_oev'].sum()
output['ticker_portfolio']

    ticker  total_oev     theta
0  SIH2017  -1.415422  24.68100
1  SIZ2016   2.149737 -67.74295

In [3]:
import ta.pnl as tapnl
alias = 'HON2016Q2016Q2016U2016'
tapnl.close_strategy(alias='FCF2017H2017X2016F2017')

In [27]:
import ta.abn_position_reconciler as pr
pr.reconcile_position()

Empty DataFrame
Columns: [generalized_ticker, qty_x, qty_y, qty_diff]
Index: []

In [6]:
import ta.strategy_greeks as sg
greeks_out = sg.get_greeks_4strategy_4date(alias='LCZ16V16VCS',as_of_date=20160614)
greeks_out['ticker_portfolio']

    ticker  total_oev      theta
0  LCV2016 -19.988474  157.53088
1  LCZ2016  19.999996 -120.84700

In [ ]:
import ta.strategy_followup as sf

In [1]:
import ta.strategy as ts
ts.move_position_from_strategy_2_strategy(strategy_from='SIZ2016_long_scv',strategy_to='SI_inventory_Aug16')

In [1]:
import ta.strategy as ts
import shared.calendar_utilities as cu
wuhu = ts.get_net_position_4strategy_alias(alias='CK2017U2017Z2016K2017')
wuhu

   ticker option_type  strike_price instrument  qty
0  CK2017        None           NaN          F    8
1  CU2017        None           NaN          F   -2
2  CZ2016        None           NaN          F   -6

In [25]:
import shared.calendar_utilities as cu
import ta.strategy as tas
wuhu  = tas.get_net_position_4strategy_alias(alias='BZ2017F2018X2017Z2017',as_of_date=cu.get_doubledate())
wuhu

# buy back two futures after

# 16.25 long 4 SIU straddles
# 16 long 4 SIU straddles

   ticker option_type  strike_price instrument  qty
0  BF2018        None           NaN          F  -63
1  BX2017        None           NaN          F  -61
2  BZ2017        None           NaN          F  124

In [13]:
import ta.position_close_helper as pch
pch.calc_intrday_pnl_from_prices(alias='WH17Z16VCS',structure_price=16,WZ2016=404,WH2017=425)

# also buy one CLZ

{'futures_pnl': -505.375, 'structure_pnl': 587.5, 'structure_settle': 15.75}

In [11]:
import ta.position_close_helper as pch
pch.calc_intrday_pnl_from_prices(alias='ECZ2016_short_scv',structure_price=0.0364,ECZ2016=1.13015)

{'futures_pnl': -10.999999999998789,
 'structure_pnl': 312.50000000000028,
 'structure_settle': 0.036900000000000002}