In [114]:
import fundamental_data.cot_data as cot
cot.presave_cot_data()

In [1]:
import contract_utilities.contract_meta_info as cmi
tickerhead_list = list(set(cmi.cme_futures_tickerhead_list)|set(cmi.cme_futures_tickerhead_list))
tickerhead_list

['JY',
 'S',
 'US',
 'SI',
 'NQ',
 'LC',
 'BP',
 'CL',
 'LN',
 'ES',
 'KW',
 'TU',
 'C',
 'EC',
 'NG',
 'RB',
 'FV',
 'CD',
 'FC',
 'W',
 'AD',
 'HO',
 'GC',
 'ED',
 'SM',
 'BO',
 'TY']

In [146]:
cot_output = fds.get_cot_strategy_signals(ticker_head='GC',date_to=20171129)
case_data = cot_output['combined_data']

In [147]:
print(case_data['spec_z'].iloc[-4])
print(case_data['comm_z'].iloc[-4])
print(case_data['spec_long_per'].iloc[-4])
print(case_data['spec_long'].iloc[-4]-case_data['spec_long_ma13'].iloc[-4])
print(case_data['spec_short'].iloc[-4]-case_data['spec_short_ma13'].iloc[-4])

0.746836557587
-1.59747732935
93.0147701875
-26959.2307692
-3536.30769231

In [21]:


import matplotlib.pyplot as plt

plt.plot(combined_data['spec_long_per'])
plt.grid()         
         
plt.show()

In [113]:
# Tickerhead based results:

# CL: short percentages are never more than 50, MA signal seems to work better
# RB: short percentages are never more than 50, MA signal seems to work better
# H0: percent signal works, MA signal doesn't work
# NG: none of the signals work

# ES: none of the signals work, however fading short specs seem to work
# NQ: none of the signals work, however fading short specs seem to work

# C: only MA long signal seems to work as well as inverse of spec_short_per
# S: only MA long signal seems to work as well as inverse of spec_short_per
# SM: inverse of spec_short_per seems to work well
# BO: inverse of spec_short_per seems to work well
# W: MA long signal seems to work well

# US: none of the signals work
# TY: none of the signals work
# FV: none of the signals work

# EC: both level and MA signal seems to work
# BP: both level and MA signal seems to work
# JY: level works well MA seems a little less reliable
# AD: both level and MA seems to work
# CD: level seems to work

# LC: no short level trades, long level seem to work
# FC






cot_output = fds.get_cot_strategy_signals(ticker_head='FC',date_to=20170303)
combined_frame = cot_output['combined_data']
selected_frame = combined_frame[combined_frame['spec_long_per'].notnull()]

print(selected_frame['const_mat_change5norm'].mean())
print(selected_frame['const_mat_change10norm'].mean())
print(selected_frame['const_mat_change20norm'].mean())
print(20*'-')

selected_frame = combined_frame[combined_frame['spec_long_per']>60]

print(selected_frame['const_mat_change5norm'].mean())
print(selected_frame['const_mat_change10norm'].mean())
print(selected_frame['const_mat_change20norm'].mean())
print(20*'-')

selected_frame = combined_frame[combined_frame['spec_short_per']>60]

print(selected_frame['const_mat_change5norm'].mean())
print(selected_frame['const_mat_change10norm'].mean())
print(selected_frame['const_mat_change20norm'].mean())
print(20*'-')

selected_frame = combined_frame[(combined_frame['spec_long']>combined_frame['spec_long_ma13'])&
                                (combined_frame['spec_short']<combined_frame['spec_short_ma13'])]

print(selected_frame['const_mat_change5norm'].mean())
print(selected_frame['const_mat_change10norm'].mean())
print(selected_frame['const_mat_change20norm'].mean())
print(20*'-')


selected_frame = combined_frame[(combined_frame['spec_long']<combined_frame['spec_long_ma13'])&
                                (combined_frame['spec_short']>combined_frame['spec_short_ma13'])]

print(selected_frame['const_mat_change5norm'].mean())
print(selected_frame['const_mat_change10norm'].mean())
print(selected_frame['const_mat_change20norm'].mean())

0.17889507583004882
0.2777172627907546
0.557613997540542
--------------------
0.29972208787119303
0.4650768171439396
0.8508964694394084
--------------------
0.8351806750582729
1.0451225905167525
2.539548455362505
--------------------
0.5180533866916603
0.6819440492807867
1.076845884123773
--------------------
-0.06425777788500332
-0.14963862019791155
0.09424266528902103

In [23]:
combined_data['spec_long_per']
plt.plot(combined_data['spec_long_per'].dropna())
plt.grid()         
         
plt.show()

In [116]:
import signals.futures_directional_signals as fds

pnl_list1 = []
pnl_list2 = []
combined_data_list = []
simple_avg_long_list = []
simple_avg_short_list = []

for i in range(len(tickerhead_list)):
    cot_output = fds.get_cot_strategy_signals(ticker_head=tickerhead_list[i],date_to=20171018)
    trade_frame_1 = cot_output['trade_frame_1']
    trade_frame_2 = cot_output['trade_frame_2']
    pnl_list1.append(trade_frame_1['pnl'].mean()/trade_frame_1['pnl'].std())
    pnl_list2.append(trade_frame_2['pnl'].mean()/trade_frame_2['pnl'].std())
    combined_frame = cot_output['combined_data']
    combined_frame['ticker_head'] = tickerhead_list[i]
    selected_frame = combined_frame[(combined_frame['spec_long']<combined_frame['spec_long_ma13'])&
                                (combined_frame['spec_short']>combined_frame['spec_short_ma13'])]
    simple_avg_long_list.append(selected_frame['const_mat_change5norm'].sum())
    selected_frame = combined_frame[(combined_frame['spec_long']>combined_frame['spec_long_ma13'])&
                                (combined_frame['spec_short']<combined_frame['spec_short_ma13'])]
    simple_avg_short_list.append(-selected_frame['const_mat_change5norm'].sum())
    combined_data_list.append(combined_frame)

In [16]:
selected_frame = combined_frame
print(selected_frame['const_mat_change5norm'].mean())
print(selected_frame['const_mat_change10norm'].mean())
print(selected_frame['const_mat_change20norm'].mean())

0.04687334470820154
0.09468242418637483
0.19154491119776704

In [28]:
# spec_long_per seems significant

import pandas as pd
combined_frame = pd.concat(combined_data_list)
selected_frame = combined_frame[combined_frame['spec_long_per']>50]

print(selected_frame['const_mat_change5norm'].mean())
print(selected_frame['const_mat_change10norm'].mean())
print(selected_frame['const_mat_change20norm'].mean())


selected_frame = combined_frame[combined_frame['spec_long_per']>60]

print(selected_frame['const_mat_change5norm'].mean())
print(selected_frame['const_mat_change10norm'].mean())
print(selected_frame['const_mat_change20norm'].mean())

selected_frame = combined_frame[combined_frame['spec_long_per']>70]

print(selected_frame['const_mat_change5norm'].mean())
print(selected_frame['const_mat_change10norm'].mean())
print(selected_frame['const_mat_change20norm'].mean())

selected_frame = combined_frame[combined_frame['spec_long_per']>80]

print(selected_frame['const_mat_change5norm'].mean())
print(selected_frame['const_mat_change10norm'].mean())
print(selected_frame['const_mat_change20norm'].mean())

selected_frame = combined_frame[combined_frame['spec_long_per']>90]

print(selected_frame['const_mat_change5norm'].mean())
print(selected_frame['const_mat_change10norm'].mean())
print(selected_frame['const_mat_change20norm'].mean())

0.07780757796881728
0.1399585421499502
0.30740745598775804
0.08976471459248807
0.17572224177664272
0.3518051503116075
0.09904961049378888
0.18200571676346008
0.42094916173933244
0.11904758452328203
0.23277925167054928
0.48637767108091046
0.20951913530938254
0.4223005606088215
0.8083513544799974

In [12]:
# spec_short_per seems significant

combined_frame = pd.concat(combined_data_list)
selected_frame = combined_frame[combined_frame['spec_short_per']>50]

print(selected_frame['const_mat_change5norm'].mean())
print(selected_frame['const_mat_change10norm'].mean())
print(selected_frame['const_mat_change20norm'].mean())


selected_frame = combined_frame[combined_frame['spec_short_per']>60]

print(selected_frame['const_mat_change5norm'].mean())
print(selected_frame['const_mat_change10norm'].mean())
print(selected_frame['const_mat_change20norm'].mean())

selected_frame = combined_frame[combined_frame['spec_short_per']>70]

print(selected_frame['const_mat_change5norm'].mean())
print(selected_frame['const_mat_change10norm'].mean())
print(selected_frame['const_mat_change20norm'].mean())

selected_frame = combined_frame[combined_frame['spec_short_per']>80]

print(selected_frame['const_mat_change5norm'].mean())
print(selected_frame['const_mat_change10norm'].mean())
print(selected_frame['const_mat_change20norm'].mean())

selected_frame = combined_frame[combined_frame['spec_short_per']>90]

print(selected_frame['const_mat_change5norm'].mean())
print(selected_frame['const_mat_change10norm'].mean())

print(selected_frame['const_mat_change20norm'].mean())

0.045657089994192275
0.06569094296368595
0.0812551120026888
-0.05954892772287612
-0.16372661971924335
-0.30125577373170687
-0.18141370411419278
-0.34691643788459997
-0.6197827057274337
-0.16446185422789925
-0.49094288363098443
-0.7580380024633102
-1.2486996431677402
-5.207573370869018
-6.052555827796492

In [10]:
# spec moving average signal seems significant especially to the upside

selected_frame = combined_frame[(combined_frame['spec_long']<combined_frame['spec_long_ma13'])&
                                (combined_frame['spec_short']>combined_frame['spec_short_ma13'])]

print(selected_frame['const_mat_change5norm'].mean())
print(selected_frame['const_mat_change10norm'].mean())
print(selected_frame['const_mat_change20norm'].mean())

selected_frame = combined_frame[(combined_frame['spec_long']>combined_frame['spec_long_ma13'])&
                                (combined_frame['spec_short']<combined_frame['spec_short_ma13'])]

print(selected_frame['const_mat_change5norm'].mean())
print(selected_frame['const_mat_change10norm'].mean())
print(selected_frame['const_mat_change20norm'].mean())

0.06628002980512868
0.08817787716376814
0.15323873328365348
0.12907243989675676
0.2080966501202289
0.4061635794709341

In [38]:

combined_frame = pd.concat(combined_data_list)

selected_frame = combined_frame[(combined_frame['spec_long']>combined_frame['spec_long_ma13'])&
                                (combined_frame['spec_short']<combined_frame['spec_short_ma13'])]

print(selected_frame['const_mat_change5norm'].sum())
print(selected_frame['const_mat_change10norm'].sum())
print(selected_frame['const_mat_change20norm'].sum())

selected_frame = combined_frame[(combined_frame['spec_long']>combined_frame['spec_long_ma13'])&
                                (combined_frame['spec_short']<combined_frame['spec_short_ma13'])&
                                (combined_frame['spec_long_per']>30)]

print(20*'-')
print(selected_frame['const_mat_change5norm'].sum())
print(selected_frame['const_mat_change10norm'].sum())
print(selected_frame['const_mat_change20norm'].sum())

524.2922508606259
840.0861765353641
1627.091299360562
--------------------
515.2651203519897
836.1770854134813
1627.5349049846777

In [42]:
selected_frame = combined_frame[(combined_frame['spec_long']<combined_frame['spec_long_ma13'])&
                                (combined_frame['spec_short']>combined_frame['spec_short_ma13'])]

print(selected_frame['const_mat_change5norm'].sum())
print(selected_frame['const_mat_change10norm'].sum())
print(selected_frame['const_mat_change20norm'].sum())

selected_frame = combined_frame[(combined_frame['spec_long']<combined_frame['spec_long_ma13'])&
                                (combined_frame['spec_short']>combined_frame['spec_short_ma13'])&
                                (combined_frame['spec_short_per']>60)]

print(20*'-')
print(selected_frame['const_mat_change5norm'].sum())
print(selected_frame['const_mat_change10norm'].sum())
print(selected_frame['const_mat_change20norm'].sum())

272.6097625884942
361.9701857572682
628.1255677296956
--------------------
-40.63582706793834
-206.18348360539034
-478.5742654502697

In [68]:
combined_frame['tickerHead']

KeyError: 'tickerHead'

6432     True
6435     True
6440     True
6443     True
6449     True
6454     True
6459     True
6464     True
6469     True
6474     True
6479     True
6484     True
6488     True
6493     True
6495     True
6500     True
6505     True
6510     True
6515     True
6520     True
6525     True
6530     True
6535     True
6539     True
6544     True
6549     True
6554     True
6559     True
6563     True
6572     True
        ...
8332    False
8337    False
8342    False
8347    False
8352    False
8356    False
8361    False
8369    False
8374    False
8379    False
8384    False
8389    False
8394    False
8399    False
8404    False
8408    False
8413    False
8418    False
8423    False
8427    False
8431    False
8435    False
8440    False
8444    False
8449    False
8454    False
8459    False
8464    False
8468    False
8473    False
Name: ticker_head, dtype: bool

In [117]:
# Portfolio Construction:

# Seem to have some relevance for FX

import pandas as pd
combined_frame = pd.concat(combined_data_list)

weekly_frame = combined_frame[combined_frame['spec_long'].notnull()]
weekly_frame = weekly_frame[weekly_frame['ticker_head'].isin(['JY','EC','AD','CD','BP'])]
#weekly_frame = weekly_frame[weekly_frame['ticker_head'].isin(['LC','LN','GF'])]
#weekly_frame = weekly_frame[weekly_frame['ticker_head'].isin(['C','W','S','SM','BO','KW'])]
settle_date_list = weekly_frame['settle_date'].unique()
long_pnl_list = []
short_pnl_list = []

for i in range(len(settle_date_list)):
    data_4week = weekly_frame[weekly_frame['settle_date']==settle_date_list[i]]
    
    
    weekly_long = data_4week[(data_4week['spec_long']>data_4week['spec_long_ma13'])&
                                (data_4week['spec_short']<data_4week['spec_short_ma13'])&
                                (data_4week['spec_long_per']>30)]
    
    weekly_short = data_4week[(data_4week['spec_long']<data_4week['spec_long_ma13'])&
                                (data_4week['spec_short']>data_4week['spec_short_ma13'])&
                                (data_4week['spec_short_per']>60)]
    
    long_pnl_list.append(weekly_long['const_mat_change5norm'].sum())
    short_pnl_list.append(-weekly_short['const_mat_change5norm'].sum())
    
    
pnl_frame = pd.DataFrame.from_items([('settle_date', settle_date_list), ('long', long_pnl_list),
                        ('short', short_pnl_list)])

pnl_frame['total'] = pnl_frame['long'] + pnl_frame['short']

In [118]:
7*pnl_frame['total'].mean()/pnl_frame['total'].std()

0.5841465630493429

In [119]:
import matplotlib.pyplot as plt

plt.plot(range(len(pnl_frame.index)),pnl_frame['total'].cumsum(),
    range(len(pnl_frame.index)),pnl_frame['long'].cumsum(),
    range(len(pnl_frame.index)),pnl_frame['short'].cumsum())
plt.grid()         
plt.legend(['total','long','short'])         
plt.show()

In [11]:


import matplotlib.pyplot as plt

plt.plot(range(len(selected_frame.index)),selected_frame['const_mat_change5norm'].cumsum(),
    range(len(selected_frame.index)),selected_frame['const_mat_change10norm'].cumsum(),
    range(len(selected_frame.index)),selected_frame['const_mat_change20norm'].cumsum())
plt.grid()         
         
plt.show()

In [24]:
import pandas as pd
pnl_frame = pd.DataFrame.from_items([('ticker_head', tickerhead_list), ('pnl1', pnl_list1),
                        ('pnl2', pnl_list2), ('simple_long', simple_avg_long_list), ('simple_short', simple_avg_short_list)])

pnl_frame

# Using spec_change2_signal for stops doesn't work

   ticker_head      pnl1      pnl2  simple_long  simple_short
0           JY -0.027291 -0.075143     2.022987    -24.431370
1            S -0.024606 -0.025362    19.755020    -89.330877
2           US -0.008501 -0.034135    19.278256      5.838852
3           SI  0.007928  0.023299     9.394944     -2.914946
4           NQ -0.100556 -0.124912    32.909899    -26.748076
5           LC  0.067677  0.075741    16.169578    -17.528402
6           BP  0.054678  0.094210   -19.060549    -25.472841
7           CL  0.089279  0.091316   -21.125347     -2.082687
8           LN  0.091350  0.066340    42.198865      9.445790
9           ES -0.002988 -0.085549    44.141154     10.960787
10          KW -0.005901 -0.007749   -27.738044    -44.497747
11          TU  0.000572  0.038215     0.170454      6.073111
12           C  0.115942  0.115990    51.267417    -45.363525
13          EC  0.118927  0.140218    -8.888662    -36.030187
14          NG  0.016455  0.040424    23.818908     13.329494
15          RB  0.084529  0.054021     4.879954    -17.022913
16          FV  0.007612 -0.140476    21.704809     -6.711771
17          CD -0.136581 -0.207705    18.310130     -9.361240
18          FC -0.046871 -0.083416   -10.859564    -76.153848
19           W  0.008500 -0.018636     6.511130    -45.013917
20          AD  0.014054 -0.038979   -18.530675    -16.687262
21          HO  0.066442  0.057884    45.621376     21.456826
22          GC  0.083849  0.096483    25.704144    -42.379680
23          ED -0.117174  0.009182   -51.233505      2.019978
24          SM -0.200438 -0.093090    14.000096    -46.018996
25          BO -0.010173  0.007680    37.459987    -23.383664
26          TY  0.068280  0.091215    -5.273001      3.716860

In [4]:
pnl_frame

   ticker_head      pnl1      pnl2
0            S -0.024606 -0.025362
1            W  0.008500 -0.018636
2           LC  0.067677  0.075741
3           GC  0.083849  0.096483
4            C  0.115942  0.115990
5           EC  0.118927  0.140218
6           NG  0.016455  0.040424
7           HO  0.066442  0.057884
8           BO -0.010173  0.007680
9           ES -0.002988 -0.085549
10          CD -0.136581 -0.207705
11          NQ -0.100556 -0.124912
12          TY  0.068280  0.091215
13          ED -0.117174  0.009182
14          US -0.008501 -0.034135
15          FV  0.007612 -0.140476
16          CL  0.089279  0.091316
17          AD  0.014054 -0.038979
18          SM -0.200438 -0.093090
19          TU  0.000572  0.038215
20          KW -0.005901 -0.007749
21          JY -0.027291 -0.075143
22          SI  0.007928  0.023299
23          BP  0.054678  0.094210
24          FC -0.046871 -0.083416
25          LN  0.091350  0.066340
26          RB  0.084529  0.054021

In [ ]:
import matplotlib.pyplot as plt

plt.plot(trade_frame_2['pnl'].cumsum())
plt.grid()         
         
plt.show()

In [2]:
import matplotlib.pyplot as plt

plt.plot(range(len(combined_data.index)),combined_data['const_mat_ma5spread'],
         range(len(combined_data.index)),combined_data['const_mat_ma10spread'],
         range(len(combined_data.index)),combined_data['const_mat_ma20spread'],
         range(len(combined_data.index)),combined_data['const_mat_ma40spread'])
plt.grid()         
         
plt.show()

In [5]:
## Moving Average Spreads First Look

print(combined_data['const_mat_ma5spread'].quantile(0.25))
print(combined_data['const_mat_ma5spread'].quantile(0.5))
print(combined_data['const_mat_ma5spread'].quantile(0.75))

print(combined_data['const_mat_ma10spread'].quantile(0.25))
print(combined_data['const_mat_ma10spread'].quantile(0.5))
print(combined_data['const_mat_ma10spread'].quantile(0.75))

print(combined_data['const_mat_ma20spread'].quantile(0.25))
print(combined_data['const_mat_ma20spread'].quantile(0.5))
print(combined_data['const_mat_ma20spread'].quantile(0.75))

print(combined_data['const_mat_ma40spread'].quantile(0.25))
print(combined_data['const_mat_ma40spread'].quantile(0.5))
print(combined_data['const_mat_ma40spread'].quantile(0.75))

print(combined_data['const_mat_ma80spread'].quantile(0.25))
print(combined_data['const_mat_ma80spread'].quantile(0.5))
print(combined_data['const_mat_ma80spread'].quantile(0.75))

-0.651361615629
0.0642337761859
0.710284931364
-1.04515495839
0.119397311432
1.16353910742
-1.53635095561
0.200577164339
1.81950798645
-2.17045415782
0.389171191066
2.70274295524
-3.02160354509
0.723722438279
4.02248542342

In [49]:
indicator_name = 'spec_net_change_2_norm'

# CL results
# some continuation for 'const_mat_ma5spread'
# some continuation for 'const_mat_ma10spread'


q_25 = combined_data[indicator_name].quantile(0.25)
q_50 = combined_data[indicator_name].quantile(0.50)
q_75 = combined_data[indicator_name].quantile(0.75)

selected_data = combined_data[combined_data[indicator_name]<q_25]
print(selected_data['const_mat_change1norm'].mean()/selected_data['const_mat_change1norm'].std())
print(selected_data['const_mat_change2norm'].mean()/selected_data['const_mat_change2norm'].std())
print(selected_data['const_mat_change5norm'].mean()/selected_data['const_mat_change5norm'].std())
print(selected_data['const_mat_change10norm'].mean()/selected_data['const_mat_change10norm'].std())
print(selected_data['const_mat_change20norm'].mean()/selected_data['const_mat_change20norm'].std())

print(10*'*')

selected_data = combined_data[(combined_data[indicator_name]>q_25)&(combined_data[indicator_name]<q_50)]
print(selected_data['const_mat_change1norm'].mean()/selected_data['const_mat_change1norm'].std())
print(selected_data['const_mat_change2norm'].mean()/selected_data['const_mat_change2norm'].std())
print(selected_data['const_mat_change5norm'].mean()/selected_data['const_mat_change5norm'].std())
print(selected_data['const_mat_change10norm'].mean()/selected_data['const_mat_change10norm'].std())
print(selected_data['const_mat_change20norm'].mean()/selected_data['const_mat_change20norm'].std())

print(10*'*')

selected_data = combined_data[(combined_data[indicator_name]<q_75)&(combined_data[indicator_name]>q_50)]
print(selected_data['const_mat_change1norm'].mean()/selected_data['const_mat_change1norm'].std())
print(selected_data['const_mat_change2norm'].mean()/selected_data['const_mat_change2norm'].std())
print(selected_data['const_mat_change5norm'].mean()/selected_data['const_mat_change5norm'].std())
print(selected_data['const_mat_change10norm'].mean()/selected_data['const_mat_change10norm'].std())
print(selected_data['const_mat_change20norm'].mean()/selected_data['const_mat_change20norm'].std())

print(10*'*')

selected_data = combined_data[combined_data[indicator_name]>q_75]
print(selected_data['const_mat_change1norm'].mean()/selected_data['const_mat_change1norm'].std())
print(selected_data['const_mat_change2norm'].mean()/selected_data['const_mat_change2norm'].std())
print(selected_data['const_mat_change5norm'].mean()/selected_data['const_mat_change5norm'].std())
print(selected_data['const_mat_change10norm'].mean()/selected_data['const_mat_change10norm'].std())
print(selected_data['const_mat_change20norm'].mean()/selected_data['const_mat_change20norm'].std())

-0.0018126507789351033
-0.019235388735446585
-0.037392505398839676
-0.09883177762339378
-0.11578518380591472
**********
-0.03972323807165624
-0.03865876527174515
-0.045382514837118575
-0.05932933482597003
-0.1587061258464772
**********
-0.056282780400245674
-0.05850148188536513
-0.09850633090874204
-0.08631838852296839
-0.07586001778248738
**********
0.023741488826411392
0.003881897590831279
-0.009018997685371977
-0.019918971756548397
-0.019790389071295204

In [ ]:
indicator_name = 'spec_z'

# CL results
# some continuation for 'const_mat_ma5spread'
# some continuation for 'const_mat_ma10spread'


q_25 = combined_data[indicator_name].quantile(0.1)
q_75 = combined_data[indicator_name].quantile(0.75)

selected_data = combined_data[combined_data['const_mat_ma5spread']<q_25]

In [27]:
# Virtues of Following Speculators:

print(combined_data['spec_z'].quantile(0.1))
print(combined_data['spec_z'].quantile(0.5))
print(combined_data['spec_z'].quantile(0.9))

-0.940550697844
0.351373102851
2.05115327969

In [11]:
print(combined_data['comm_long_change_1_norm'].quantile(0.25))
print(combined_data['comm_long_change_1_norm'].quantile(0.75))

print(combined_data['comm_short_change_1_norm'].quantile(0.25))
print(combined_data['comm_short_change_1_norm'].quantile(0.75))

-0.47302193749
0.549445690875
-0.465486030217
0.534527970483

In [12]:
selected_data = combined_data[combined_data['comm_long_change_1_norm']>1]
print(selected_data['const_mat_change5'].mean())
selected_data = combined_data[combined_data['comm_long_change_1_norm']<-1]
print(selected_data['const_mat_change5'].mean())

selected_data = combined_data[combined_data['comm_short_change_1_norm']>1]
print(selected_data['const_mat_change5'].mean())
selected_data = combined_data[combined_data['comm_short_change_1_norm']<-1]
print(selected_data['const_mat_change5'].mean())

0.3081716328370325
0.16620022527019854
0.269437675798423
0.07859625958246637

In [3]:
trade_frame_1.sort('pnl')

    entry_index  exit_index  entry_price  exit_price  position        pnl
20         8308        8320   702.786585  631.286585         1 -71.500000
1          7183        7191   611.636719  559.542969         1 -52.093750
18         8092        8095   620.886364  595.250000         1 -25.636364
17         8069        8074   630.750000  654.250000        -1 -23.500000
33         9166        9172   340.632812  318.640625         1 -21.992188
19         8269        8286   730.619048  708.779762         1 -21.839286
31         9069        9077   356.898810  377.714286        -1 -20.815476
10         7610        7618   359.720930  379.761628        -1 -20.040698
3          7299        7303   377.569767  358.000000         1 -19.569767
14         7864        7870   738.802326  721.081395         1 -17.720930
25         8813        8827   397.932927  380.451220         1 -17.481707
22         8341        8348   635.732955  618.659091         1 -17.073864
6          7504        7510   382.725000  397.732955        -1 -15.007955
11         7631        7638   365.308140  350.359375         1 -14.948765
34         9223        9230   342.450000  357.266667        -1 -14.816667
16         7963        7979   653.303279  639.733607         1 -13.569672
24         8796        8807   394.615854  382.512195         1 -12.103659
4          7343        7353   395.018293  405.383721        -1 -10.365428
30         9021        9032   372.773256  365.302326         1  -7.470930
15         7898        7908   690.535156  683.289062         1  -7.246094
9          7593        7597   372.075581  365.139535         1  -6.936047
13         7847        7858   722.848837  729.447674        -1  -6.598837
2          7233        7236   400.143443  394.418033         1  -5.725410
28         8953        8961   378.926230  384.315574        -1  -5.389344
23         8786        8793   390.441860  386.280488         1  -4.161373
29         9001        9017   366.372093  369.924419        -1  -3.552326
26         8900        8910   379.429688  382.859375        -1  -3.429688
27         8925        8926   366.562500  365.179688         1  -1.382812
8          7549        7562   371.482955  372.487805         1   1.004850
21         8321        8330   630.804878  628.914634        -1   1.890244
7          7527        7547   386.130682  372.448864        -1  13.681818
0          7083        7099   577.323171  608.343023         1  31.019853
12         7819        7839   685.285714  741.691860         1  56.406146
32         9126        9163   392.746094  333.593750        -1  59.152344
5          7385        7417   412.343023  344.187500        -1  68.155523

In [4]:
import matplotlib.pyplot as plt

plt.plot(trade_frame_1['pnl'].cumsum())
plt.grid()         
         
plt.show()

In [3]:
selected_data = combined_data[combined_data['comm_z']<-1]
print(selected_data['const_mat_change_10_norm'].mean())
print(selected_data['const_mat_change_20_norm'].mean())

selected_data = combined_data[combined_data['comm_z']>1]
print(selected_data['const_mat_change_10_norm'].mean())
print(selected_data['const_mat_change_20_norm'].mean())

0.28447078538246223
0.6830454206271086
0.027973852628955034
-0.2018344282843215

In [ ]:

import matplotlib.pyplot as plt

selected_data = combined_data[7050:7250]

plt.figure(figsize=(16, 7))
plt.subplot(211)
plt.plot(selected_data.index,selected_data['const_mat'])
plt.grid()
plt.subplot(212)
plt.plot(selected_data.index,selected_data['comm_z'])

plt.grid()
plt.show()

In [17]:
selected_data

,settle_date,tr_dte_x,close_price_x,tr_dte_y,close_price_y,ticker,change_1,const_mat,const_mat_change_10,const_mat_change_20,...,comm_net_change_4_norm,spec_net_change_1_norm,spec_net_change_2_norm,spec_net_change_4_norm,comm_net_mean,spec_net_mean,comm_net_std,spec_net_std,comm_z,spec_z
8130,2012-06-21,59,550.25,123,550.00,CZ2012,-16.50,550.246094,-3.185724,-10.924361,...,0.216026,0.058437,-0.399940,-0.574197,NaN,NaN,NaN,NaN,1.164452,-1.373446
8131,2012-06-22,58,551.25,122,554.00,CZ2012,4.00,551.335938,-8.209517,8.438210,...,0.240532,0.959438,0.636249,-0.540681,-425798.453333,211427.246667,146229.665614,122644.933689,0.911528,-1.147314
8132,2012-06-25,57,591.25,121,594.00,CZ2012,40.00,591.378906,42.685724,44.787997,...,0.240532,0.959438,0.636249,-0.540681,NaN,NaN,NaN,NaN,0.911528,-1.147314
8133,2012-06-26,56,619.50,120,624.00,CZ2012,30.00,619.781250,85.440341,82.735795,...,0.240532,0.959438,0.636249,-0.540681,NaN,NaN,NaN,NaN,0.911528,-1.147314
8134,2012-06-27,55,627.50,119,633.00,CZ2012,9.00,627.929688,104.122869,90.014915,...,0.240532,0.959438,0.636249,-0.540681,NaN,NaN,NaN,NaN,0.911528,-1.147314
8135,2012-06-28,54,626.25,118,632.25,CZ2012,-0.75,626.812500,98.721591,91.846591,...,0.240532,0.959438,0.636249,-0.540681,NaN,NaN,NaN,NaN,0.911528,-1.147314
8136,2012-06-29,53,628.50,117,634.75,CZ2012,2.50,629.183594,114.910866,103.575639,...,-0.881823,1.303417,1.412264,0.663269,-426516.826667,211616.573333,145528.439688,122462.694718,0.604204,-0.841681
8137,2012-07-02,52,652.25,116,655.75,CZ2012,21.00,652.687500,112.846591,114.142045,...,-0.881823,1.303417,1.412264,0.663269,NaN,NaN,NaN,NaN,0.604204,-0.841681
8138,2012-07-03,51,674.00,115,674.50,CZ2012,18.75,674.070312,105.547585,145.195312,...,-0.881823,1.303417,1.412264,0.663269,NaN,NaN,NaN,NaN,0.604204,-0.841681
8139,2012-07-05,50,708.75,114,708.50,CZ2012,34.00,708.710938,139.960938,167.858665,...,-0.881823,1.303417,1.412264,0.663269,NaN,NaN,NaN,NaN,0.604204,-0.841681

In [21]:
import shared.statistics as stats
import pandas as pd
indicator_list = ['comm_net_change_1_normalized','comm_net_change_2_normalized','comm_net_change_4_normalized',
                 'spec_net_change_1_normalized','spec_net_change_2_normalized','spec_net_change_3_normalized',
                 'comm_z','spec_z']

monthly_sharp_list =[]
weekly_sharp_list = []

for i in range(len(indicator_list)):
    indicator_levels = stats.get_number_from_quantile(y=merged_data[indicator_list[i]].values,quantile_list=[10,90])
    low_data = merged_data[merged_data[indicator_list[i]]<indicator_levels[0]]
    high_data = merged_data[merged_data[indicator_list[i]]>indicator_levels[1]]
    monthly_sharp_list.append(3.5*high_data['change20Percent'].mean()/high_data['change20Percent'].std()-
                      3.5*low_data['change20Percent'].mean()/low_data['change20Percent'].std())
    weekly_sharp_list.append(7*high_data['change5Percent'].mean()/high_data['change5Percent'].std()-
                     7*low_data['change5Percent'].mean()/low_data['change5Percent'].std())


pd.DataFrame.from_items([('indicator', indicator_list), ('monthly_sharp', monthly_sharp_list),
                        ('weekly_sharp', weekly_sharp_list)])    

# LN: spec_change positively spec_z negatively correlated
# LC: spec_change positively spec_z positively correlated
# FC: spec_change positively correlated
# ES: spec_change negatively correlated
# NQ: spec_change nagatively correlated
# EC: comm_change positively correlated but comm_z is negative
# JY: week relationships
# AD: comm_change positively correlated
# CD: comm_change positively correlated
# BP: weak relationships
# GC: spec_change nagatively correlated
# SI: weak relationships
# TY: spec_change positively correlated
# US: weak relationships
# FV: comm_change positively correlated
# TU: weak relationships
# C: spec_change positively correlated
# S: spec_change positively correlated
# SM: spec_change positively correlated
# BO: comm_change positively correlated
# W: spec_change positively correlated
# KW_ spec_change positively correlated

                      indicator  monthly_sharp  weekly_sharp
0  comm_net_change_1_normalized       0.491848     -0.268108
1  comm_net_change_2_normalized       0.560898      0.160695
2  comm_net_change_4_normalized       1.207450      2.231186
3  spec_net_change_1_normalized      -0.182198      1.116041
4  spec_net_change_2_normalized      -0.853351      0.791972
5  spec_net_change_3_normalized       0.079188     -0.633236
6                        comm_z      -0.015113      0.155466
7                        spec_z       0.213558     -0.306237

In [23]:
import get_price.get_futures_price as gfp
data_out = gfp.get_futures_price_preloaded(ticker_head='C')
data_out.columns

Index(['settle_date', 'ticker', 'ticker_head', 'ticker_month', 'ticker_year',
       'cal_dte', 'tr_dte', 'open_price', 'high_price', 'low_price',
       'close_price', 'volume', 'cont_indx', 'change1', 'change1_instant',
       'change2', 'change5', 'change10', 'change20', 'change_5', 'change_1'],
      dtype='object')

In [81]:
long_data = merged_data[merged_data['comm_net_delta_4']>0]
short_data = merged_data[merged_data['comm_net_delta_4']<0]

print(7*long_data['change5Percent'].mean()/long_data['change5Percent'].std())
print(7*short_data['change5Percent'].mean()/short_data['change5Percent'].std())

0.31993542926693
0.0825970614781219

In [82]:


import matplotlib.pyplot as plt

plt.plot(long_data['change5Percent'].cumsum())
plt.grid()         
         
plt.show()

In [56]:
import backtesting.utilities as bu
dates_output = bu.get_backtesting_dates(date_to=20170303,years_back=10,day_of_week=4)
double_dates = sorted(dates_output['double_dates'],reverse=False)
selected_dates = double_dates
selected_dates

[20070309,
 20070316,
 20070323,
 20070330,
 20070413,
 20070420,
 20070427,
 20070504,
 20070511,
 20070518,
 20070525,
 20070601,
 20070608,
 20070615,
 20070622,
 20070629,
 20070706,
 20070713,
 20070720,
 20070727,
 20070803,
 20070810,
 20070817,
 20070824,
 20070831,
 20070907,
 20070914,
 20070921,
 20070928,
 20071005,
 20071012,
 20071019,
 20071026,
 20071102,
 20071109,
 20071116,
 20071123,
 20071130,
 20071207,
 20071214,
 20071221,
 20071228,
 20080104,
 20080111,
 20080118,
 20080125,
 20080201,
 20080208,
 20080215,
 20080222,
 20080229,
 20080307,
 20080314,
 20080328,
 20080404,
 20080411,
 20080418,
 20080425,
 20080502,
 20080509,
 20080516,
 20080523,
 20080530,
 20080606,
 20080613,
 20080620,
 20080627,
 20080711,
 20080718,
 20080725,
 20080801,
 20080808,
 20080815,
 20080822,
 20080829,
 20080905,
 20080912,
 20080919,
 20080926,
 20081003,
 20081010,
 20081017,
 20081024,
 20081031,
 20081107,
 20081114,
 20081121,
 20081128,
 20081205,
 20081212,
 20081219,
 20081226,
 20090102,
 20090109,
 20090116,
 20090123,
 20090130,
 20090206,
 20090213,
 20090220,
 20090227,
 20090306,
 20090313,
 20090320,
 20090327,
 20090403,
 20090417,
 20090424,
 20090501,
 20090508,
 20090515,
 20090522,
 20090529,
 20090605,
 20090612,
 20090619,
 20090626,
 20090710,
 20090717,
 20090724,
 20090731,
 20090807,
 20090814,
 20090821,
 20090828,
 20090904,
 20090911,
 20090918,
 20090925,
 20091002,
 20091009,
 20091016,
 20091023,
 20091030,
 20091106,
 20091113,
 20091120,
 20091127,
 20091204,
 20091211,
 20091218,
 20100108,
 20100115,
 20100122,
 20100129,
 20100205,
 20100212,
 20100219,
 20100226,
 20100305,
 20100312,
 20100319,
 20100326,
 20100409,
 20100416,
 20100423,
 20100430,
 20100507,
 20100514,
 20100521,
 20100528,
 20100604,
 20100611,
 20100618,
 20100625,
 20100702,
 20100709,
 20100716,
 20100723,
 20100730,
 20100806,
 20100813,
 20100820,
 20100827,
 20100903,
 20100910,
 20100917,
 20100924,
 20101001,
 20101008,
 20101015,
 20101022,
 20101029,
 20101105,
 20101112,
 20101119,
 20101126,
 20101203,
 20101210,
 20101217,
 20110107,
 20110114,
 20110121,
 20110128,
 20110204,
 20110211,
 20110218,
 20110225,
 20110304,
 20110311,
 20110318,
 20110325,
 20110401,
 20110408,
 20110415,
 20110429,
 20110506,
 20110513,
 20110520,
 20110527,
 20110603,
 20110610,
 20110617,
 20110624,
 20110701,
 20110708,
 20110715,
 20110722,
 20110729,
 20110805,
 20110812,
 20110819,
 20110826,
 20110902,
 20110909,
 20110916,
 20110923,
 20110930,
 20111007,
 20111014,
 20111021,
 20111028,
 20111104,
 20111111,
 20111118,
 20111125,
 20111202,
 20111209,
 20111216,
 20111223,
 20111230,
 20120106,
 20120113,
 20120120,
 20120127,
 20120203,
 20120210,
 20120217,
 20120224,
 20120302,
 20120309,
 20120316,
 20120323,
 20120330,
 20120413,
 20120420,
 20120427,
 20120504,
 20120511,
 20120518,
 20120525,
 20120601,
 20120608,
 20120615,
 20120622,
 20120629,
 20120706,
 20120713,
 20120720,
 20120727,
 20120803,
 20120810,
 20120817,
 20120824,
 20120831,
 20120907,
 20120914,
 20120921,
 20120928,
 20121005,
 20121012,
 20121019,
 20121026,
 20121102,
 20121109,
 20121116,
 20121123,
 20121130,
 20121207,
 20121214,
 20121221,
 20121228,
 20130104,
 20130111,
 20130118,
 20130125,
 20130201,
 20130208,
 20130215,
 20130222,
 20130301,
 20130308,
 20130315,
 20130322,
 20130405,
 20130412,
 20130419,
 20130426,
 20130503,
 20130510,
 20130517,
 20130524,
 20130531,
 20130607,
 20130614,
 20130621,
 20130628,
 20130705,
 20130712,
 20130719,
 20130726,
 20130802,
 20130809,
 20130816,
 20130823,
 20130830,
 20130906,
 20130913,
 20130920,
 20130927,
 20131004,
 20131011,
 20131018,
 20131025,
 20131101,
 20131108,
 20131115,
 20131122,
 20131129,
 20131206,
 20131213,
 20131220,
 20131227,
 20140103,
 20140110,
 20140117,
 20140124,
 20140131,
 20140207,
 20140214,
 20140221,
 20140228,
 20140307,
 20140314,
 20140321,
 20140328,
 20140404,
 20140411,
 20140425,
 20140502,
 20140509,
 20140516,
 20140523,
 20140530,
 20140606,
 20140613,
 20140620,
 20140627,
 20140711,
 20140718,
 20140725,
 20140801,
 20140808,
 20140815,
 20140822,
 20140829,
 20140905,
 20140912,
 20140919,
 20140926,
 20141003,
 20141010,
 20141017,
 20141024,
 20141031,
 20141107,
 20141114,
 20141121,
 20141128,
 20141205,
 20141212,
 20141219,
 20141226,
 20150102,
 20150109,
 20150116,
 20150123,
 20150130,
 20150206,
 20150213,
 20150220,
 20150227,
 20150306,
 20150313,
 20150320,
 20150327,
 20150410,
 20150417,
 20150424,
 20150501,
 20150508,
 20150515,
 20150522,
 20150529,
 20150605,
 20150612,
 20150619,
 20150626,
 20150710,
 20150717,
 20150724,
 20150731,
 20150807,
 20150814,
 20150821,
 20150828,
 20150904,
 20150911,
 20150918,
 20150925,
 20151002,
 20151009,
 20151016,
 20151023,
 20151030,
 20151106,
 20151113,
 20151120,
 20151127,
 20151204,
 20151211,
 20151218,
 20160108,
 20160115,
 20160122,
 20160129,
 20160205,
 20160212,
 20160219,
 20160226,
 20160304,
 20160311,
 20160318,
 20160401,
 20160408,
 20160415,
 20160422,
 20160429,
 20160506,
 20160513,
 20160520,
 20160527,
 20160603,
 20160610,
 20160617,
 20160624,
 20160701,
 20160708,
 20160715,
 20160722,
 20160729,
 20160805,
 20160812,
 20160819,
 20160826,
 20160902,
 20160909,
 20160916,
 20160923,
 20160930,
 20161007,
 20161014,
 20161021,
 20161028,
 20161104,
 20161111,
 20161118,
 20161125,
 20161202,
 20161209,
 20161216,
 20161223,
 20161230,
 20170106,
 20170113,
 20170120,
 20170127,
 20170203,
 20170210,
 20170217,
 20170224,
 20170303]

In [57]:
import opportunity_constructs.cot_strategy as cots
import pandas as pd

backtest_results = []

for i in range(len(selected_dates)):
    print(selected_dates[i])
    cot_output = cots.get_cot_sheet_4date(date_to=selected_dates[i])
    if cot_output['success']:
        cot_sheet = cot_output['cot_sheet']
        cot_sheet['settle_date'] = selected_dates[i]
        backtest_results.append(cot_sheet)
        

backtest_frame = pd.concat(backtest_results)

20070309
20070316
20070323
20070330
20070413
20070420
20070427
20070504
20070511
20070518
20070525
20070601
20070608
20070615
20070622
20070629
20070706
20070713
20070720
20070727
20070803
20070810
20070817
20070824
20070831
20070907
20070914
20070921
20070928
20071005
20071012
20071019
20071026
20071102
20071109
20071116
20071123
20071130
20071207
20071214
20071221
20071228
20080104
20080111
20080118
20080125
20080201
20080208
20080215
20080222
20080229
20080307
20080314
20080328
20080404
20080411
20080418
20080425
20080502
20080509
20080516
20080523
20080530
20080606
20080613
20080620
20080627
20080711
20080718
20080725
20080801
20080808
20080815
20080822
20080829
20080905
20080912
20080919
20080926
20081003
20081010
20081017
20081024
20081031
20081107
20081114
20081121
20081128
20081205
20081212
20081219
20081226
20090102
20090109
20090116
20090123
20090130
20090206
20090213
20090220
20090227
20090306
20090313
20090320
20090327
20090403
20090417
20090424
20090501
20090508
20090515
20090522
20090529
20090605
20090612
20090619
20090626
20090710
20090717
20090724
20090731
20090807
20090814
20090821
20090828
20090904
20090911
20090918
20090925
20091002
20091009
20091016
20091023
20091030
20091106
20091113
20091120
20091127
20091204
20091211
20091218
20100108
20100115
20100122
20100129
20100205
20100212
20100219
20100226
20100305
20100312
20100319
20100326
20100409
20100416
20100423
20100430
20100507
20100514
20100521
20100528
20100604
20100611
20100618
20100625
20100702
20100709
20100716
20100723
20100730
20100806
20100813
20100820
20100827
20100903
20100910
20100917
20100924
20101001
20101008
20101015
20101022
20101029
20101105
20101112
20101119
20101126
20101203
20101210
20101217
20110107
20110114
20110121
20110128
20110204
20110211
20110218
20110225
20110304
20110311
20110318
20110325
20110401
20110408
20110415
20110429
20110506
20110513
20110520
20110527
20110603
20110610
20110617
20110624
20110701
20110708
20110715
20110722
20110729
20110805
20110812
20110819
20110826
20110902
20110909
20110916
20110923
20110930
20111007
20111014
20111021
20111028
20111104
20111111
20111118
20111125
20111202
20111209
20111216
20111223
20111230
20120106
20120113
20120120
20120127
20120203
20120210
20120217
20120224
20120302
20120309
20120316
20120323
20120330
20120413
20120420
20120427
20120504
20120511
20120518
20120525
20120601
20120608
20120615
20120622
20120629
20120706
20120713
20120720
20120727
20120803
20120810
20120817
20120824
20120831
20120907
20120914
20120921
20120928
20121005
20121012
20121019
20121026
20121102
20121109
20121116
20121123
20121130
20121207
20121214
20121221
20121228
20130104
20130111
20130118
20130125
20130201
20130208
20130215
20130222
20130301
20130308
20130315
20130322
20130405
20130412
20130419
20130426
20130503
20130510
20130517
20130524
20130531
20130607
20130614
20130621
20130628
20130705
20130712
20130719
20130726
20130802
20130809
20130816
20130823
20130830
20130906
20130913
20130920
20130927
20131004
20131011
20131018
20131025
20131101
20131108
20131115
20131122
20131129
20131206
20131213
20131220
20131227
20140103
20140110
20140117
20140124
20140131
20140207
20140214
20140221
20140228
20140307
20140314
20140321
20140328
20140404
20140411
20140425
20140502
20140509
20140516
20140523
20140530
20140606
20140613
20140620
20140627
20140711
20140718
20140725
20140801
20140808
20140815
20140822
20140829
20140905
20140912
20140919
20140926
20141003
20141010
20141017
20141024
20141031
20141107
20141114
20141121
20141128
20141205
20141212
20141219
20141226
20150102
20150109
20150116
20150123
20150130
20150206
20150213
20150220
20150227
20150306
20150313
20150320
20150327
20150410
20150417
20150424
20150501
20150508
20150515
20150522
20150529
20150605
20150612
20150619
20150626
20150710
20150717
20150724
20150731
20150807
20150814
20150821
20150828
20150904
20150911
20150918
20150925
20151002
20151009
20151016
20151023
20151030
20151106
20151113
20151120
20151127
20151204
20151211
20151218
20160108
20160115
20160122
20160129
20160205
20160212
20160219
20160226
20160304
20160311
20160318
20160401
20160408
20160415
20160422
20160429
20160506
20160513
20160520
20160527
20160603
20160610
20160617
20160624
20160701
20160708
20160715
20160722
20160729
20160805
20160812
20160819
20160826
20160902
20160909
20160916
20160923
20160930
20161007
20161014
20161021
20161028
20161104
20161111
20161118
20161125
20161202
20161209
20161216
20161223
20161230
20170106
20170113
20170120
20170127
20170203
20170210
20170217
20170224
20170303

In [58]:
backtest_frame['normalized_pnl_5_'] = -backtest_frame['normalized_pnl_5']
backtest_frame['normalized_pnl_10_'] = -backtest_frame['normalized_pnl_10']
backtest_frame['normalized_pnl_20_'] = -backtest_frame['normalized_pnl_20']

In [80]:
backtest_frame.columns

Index(['ticker', 'ticker_head', 'ticker_class', 'change_5_normalized',
       'change_10_normalized', 'change_20_normalized', 'change_40_normalized',
       'change_60_normalized', 'comm_net_change_1_normalized',
       'comm_net_change_2_normalized', 'comm_net_change_4_normalized',
       'spec_net_change_1_normalized', 'spec_net_change_2_normalized',
       'spec_net_change_4_normalized', 'volume_5_normalized',
       'volume_10_normalized', 'volume_20_normalized', 'comm_z', 'spec_z',
       'normalized_pnl_5', 'normalized_pnl_10', 'normalized_pnl_20',
       'settle_date', 'normalized_pnl_5_', 'normalized_pnl_10_',
       'normalized_pnl_20_'],
      dtype='object')

In [84]:
import backtesting.backtest_stats as bs
import pandas as pd
from IPython.display import display
backtest_frame['tickerHead'] = backtest_frame['ticker_head']
rank_indicators_output = bs.rank_indicators(trade_data=backtest_frame,
                                            indicator_list = ['change_5_normalized',
                                                              'change_10_normalized', 'change_20_normalized', 'change_40_normalized',
                                                              'change_60_normalized', 'comm_net_change_1_normalized',
                                                              'comm_net_change_2_normalized', 'comm_net_change_4_normalized',
                                                              'spec_net_change_1_normalized', 'spec_net_change_2_normalized',
                                                              'spec_net_change_4_normalized', 'volume_5_normalized',
                                                              'volume_10_normalized', 'volume_20_normalized', 'comm_z', 'spec_z'],
                                            long_pnl_field='normalized_pnl_20',
                                            short_pnl_field='normalized_pnl_20_',
                                            strategy_class='cot',granular_ranking_type='ticker_head')
indicator_ranking_total = rank_indicators_output['indicator_ranking_total']
indicator_ranking_granular_total = rank_indicators_output['indicator_ranking_granular_total']
display(indicator_ranking_total)
display(indicator_ranking_granular_total)

                                             indicator  ranking
185        [volume_5_normalized, change_60_normalized]      503
86         [change_60_normalized, volume_5_normalized]      500
87        [change_60_normalized, volume_10_normalized]      500
200       [volume_10_normalized, change_60_normalized]      491
88        [change_60_normalized, volume_20_normalized]      484
215       [volume_20_normalized, change_60_normalized]      482
72        [change_40_normalized, volume_10_normalized]      481
184        [volume_5_normalized, change_40_normalized]      481
71         [change_40_normalized, volume_5_normalized]      475
214       [volume_20_normalized, change_40_normalized]      469
65   [change_40_normalized, comm_net_change_1_norma...      467
199       [volume_10_normalized, change_40_normalized]      464
66   [change_40_normalized, comm_net_change_2_norma...      462
73        [change_40_normalized, volume_20_normalized]      459
109  [comm_net_change_2_normalized, change_40_norma...      448
13                                volume_20_normalized      442
75                      [change_40_normalized, spec_z]      439
56         [change_20_normalized, volume_5_normalized]      439
183        [volume_5_normalized, change_20_normalized]      438
82   [change_60_normalized, comm_net_change_4_norma...      437
216  [volume_20_normalized, comm_net_change_1_norma...      433
94   [comm_net_change_1_normalized, change_40_norma...      429
67   [change_40_normalized, comm_net_change_4_norma...      427
3                                 change_40_normalized      427
208       [volume_10_normalized, volume_20_normalized]      424
80   [change_60_normalized, comm_net_change_1_norma...      424
193        [volume_5_normalized, volume_20_normalized]      423
103  [comm_net_change_1_normalized, volume_20_norma...      419
201  [volume_10_normalized, comm_net_change_1_norma...      419
217  [volume_20_normalized, comm_net_change_2_norma...      415
..                                                 ...      ...
29                       [change_5_normalized, comm_z]       81
9                         spec_net_change_2_normalized       81
39   [change_10_normalized, spec_net_change_2_norma...       75
232             [comm_z, comm_net_change_2_normalized]       75
128  [comm_net_change_4_normalized, spec_net_change...       75
97   [comm_net_change_1_normalized, comm_net_change...       75
174  [spec_net_change_4_normalized, spec_net_change...       75
227                     [comm_z, change_10_normalized]       74
14                                              comm_z       73
8                         spec_net_change_1_normalized       71
156  [spec_net_change_2_normalized, comm_net_change...       67
7                         comm_net_change_4_normalized       62
38   [change_10_normalized, spec_net_change_1_norma...       59
226                      [comm_z, change_5_normalized]       57
240                                   [comm_z, spec_z]       56
40   [change_10_normalized, spec_net_change_4_norma...       55
112  [comm_net_change_2_normalized, comm_net_change...       50
141  [spec_net_change_1_normalized, comm_net_change...       45
233             [comm_z, comm_net_change_4_normalized]       45
231             [comm_z, comm_net_change_1_normalized]       44
234             [comm_z, spec_net_change_1_normalized]       38
104             [comm_net_change_1_normalized, comm_z]       35
236             [comm_z, spec_net_change_4_normalized]       31
179             [spec_net_change_4_normalized, comm_z]       31
149             [spec_net_change_1_normalized, comm_z]       28
134             [comm_net_change_4_normalized, comm_z]       26
142  [spec_net_change_1_normalized, comm_net_change...       26
235             [comm_z, spec_net_change_2_normalized]       25
119             [comm_net_change_2_normalized, comm_z]       24
164             [spec_net_change_2_normalized, comm_z]       16

[256 rows x 2 columns]

                                             indicator  ranking
185        [volume_5_normalized, change_60_normalized]    10241
86         [change_60_normalized, volume_5_normalized]    10184
184        [volume_5_normalized, change_40_normalized]     9997
215       [volume_20_normalized, change_60_normalized]     9976
73        [change_40_normalized, volume_20_normalized]     9946
214       [volume_20_normalized, change_40_normalized]     9942
200       [volume_10_normalized, change_60_normalized]     9938
199       [volume_10_normalized, change_40_normalized]     9871
192        [volume_5_normalized, volume_10_normalized]     9830
88        [change_60_normalized, volume_20_normalized]     9823
72        [change_40_normalized, volume_10_normalized]     9727
222        [volume_20_normalized, volume_5_normalized]     9703
71         [change_40_normalized, volume_5_normalized]     9655
87        [change_60_normalized, volume_10_normalized]     9643
12                                volume_10_normalized     9639
223       [volume_20_normalized, volume_10_normalized]     9635
26          [change_5_normalized, volume_5_normalized]     9609
217  [volume_20_normalized, comm_net_change_2_norma...     9599
193        [volume_5_normalized, volume_20_normalized]     9544
253                     [spec_z, volume_10_normalized]     9521
218  [volume_20_normalized, comm_net_change_4_norma...     9479
207        [volume_10_normalized, volume_5_normalized]     9470
11                                 volume_5_normalized     9425
225                     [volume_20_normalized, spec_z]     9402
202  [volume_10_normalized, comm_net_change_2_norma...     9371
13                                volume_20_normalized     9308
187  [volume_5_normalized, comm_net_change_2_normal...     9284
201  [volume_10_normalized, comm_net_change_1_norma...     9277
210                     [volume_10_normalized, spec_z]     9271
118  [comm_net_change_2_normalized, volume_20_norma...     9205
..                                                 ...      ...
53   [change_20_normalized, spec_net_change_1_norma...     7019
54   [change_20_normalized, spec_net_change_2_norma...     7017
104             [comm_net_change_1_normalized, comm_z]     7008
59                      [change_20_normalized, comm_z]     7005
29                       [change_5_normalized, comm_z]     7004
17         [change_5_normalized, change_20_normalized]     7002
174  [spec_net_change_4_normalized, spec_net_change...     6993
233             [comm_z, comm_net_change_4_normalized]     6982
7                         comm_net_change_4_normalized     6980
149             [spec_net_change_1_normalized, comm_z]     6966
231             [comm_z, comm_net_change_1_normalized]     6927
168  [spec_net_change_4_normalized, change_20_norma...     6902
44                      [change_10_normalized, comm_z]     6896
51   [change_20_normalized, comm_net_change_2_norma...     6890
240                                   [comm_z, spec_z]     6840
142  [spec_net_change_1_normalized, comm_net_change...     6801
39   [change_10_normalized, spec_net_change_2_norma...     6798
226                      [comm_z, change_5_normalized]     6785
37   [change_10_normalized, comm_net_change_4_norma...     6744
134             [comm_net_change_4_normalized, comm_z]     6743
234             [comm_z, spec_net_change_1_normalized]     6682
227                     [comm_z, change_10_normalized]     6674
230                     [comm_z, change_60_normalized]     6662
40   [change_10_normalized, spec_net_change_4_norma...     6601
235             [comm_z, spec_net_change_2_normalized]     6546
228                     [comm_z, change_20_normalized]     6534
119             [comm_net_change_2_normalized, comm_z]     6500
167  [spec_net_change_4_normalized, change_10_norma...     6470
236             [comm_z, spec_net_change_4_normalized]     6418
14                                              comm_z     6267

[256 rows x 2 columns]

In [99]:
import backtesting.backtest_stats as bs
#selected_frame = backtest_frame[backtest_frame['volume_20_normalized']>2]

bs.get_indicator_rr_table(trade_data=backtest_frame,indicator_name='spec_z',
                          strategy_class='cot',
                          long_pnl_field='normalized_pnl_5',short_pnl_field='normalized_pnl_5_')

# some momentum for 5=>5, 5=>10, 5=>20
# some momentum for 10=>5, 10=>10, 10=>20
# some momentum for 20=>5, 20=>10, 20=>20
# some momentum for 40=>5, 40=>10, 40=>20 * these might be the strongest ones
# some momentum for 60=>5, 60=>10, 60=>20
# comm_net_change_x_normalized: buying with commercials does seem to have some merit, although sell side didn't work
# spec_net_change_x_normalized: buying with specs does seem to have some merit, although sell side didn't work
# spec_z: buying and selling with spec_z does seem to have some merit

   indicator_ulimit    mean_pnl  reward_risk
0               NaN  463.719847     0.048781
1          1.621625  656.638052     0.073328
2          1.057747  222.160851     0.023524
3          0.627131  300.733584     0.032967
4          0.221488  733.545252     0.082924
5         -0.180282  110.328814     0.011461
6         -0.604087 -213.740241    -0.021449
7         -1.020202 -533.996566    -0.058487
8         -1.498477  250.132733     0.027480

In [102]:
import backtesting.backtest_stats as bs
bs.get_indicator_rr_double_table(trade_data=backtest_frame,indicator_list=['change_40_normalized','spec_z'],
                                 strategy_class='cot',
                                 long_pnl_field='normalized_pnl_20',
                                            short_pnl_field='normalized_pnl_20_')

   indicator1_ulimit  indicator2_ulimit     mean_pnl  reward_risk
0                NaN                NaN  4429.023384     0.253837
1                NaN           0.960452  1229.284533     0.066232
2                NaN          -0.141262  1533.055436     0.088534
3           3.123034                NaN  1029.125938     0.060850
4           3.123034           0.562635  2289.403639     0.142067
5           3.123034          -0.560928   573.475652     0.035016
6          -2.425765                NaN   456.548758     0.022172
7          -2.425765           0.193429  1278.877150     0.068819
8          -2.425765          -0.968620   786.549869     0.044569

In [62]:
long_frame = backtest_frame[backtest_frame['change_40_normalized']<-8]
long_frame['normalized_pnl_20'].cumsum()

In [74]:
date_list = backtest_frame['settle_date'].unique()
import numpy as np
pnl_list = []

for i in range(len(date_list)):
    
    daily_data = backtest_frame[backtest_frame['settle_date']==date_list[i]]
    daily_data.sort('change_40_normalized',ascending=True,inplace=True)
    short_pnl = -np.sum(daily_data['normalized_pnl_5'].iloc[:3])
    long_pnl = np.sum(daily_data['normalized_pnl_5'].iloc[-3:])
    pnl_list.append(short_pnl+long_pnl)

In [75]:


import matplotlib.pyplot as plt

plt.plot(np.cumsum(pnl_list))
plt.grid()         
         
plt.show()

In [76]:
np.sqrt(52)*np.mean(pnl_list)/np.std(pnl_list)

0.33363369409048871

In [1]:
import fundamental_data.cot_data as cot
ticker_head = 'EC'
date_to = 20170102
cot_output = cot.get_cot_data(ticker_head=ticker_head,date_to=date_to)

cot_output

,Open Interest,Dealer Longs,Dealer Shorts,Dealer Spreads,Asset Manager Longs,Asset Manager Shorts,Asset Manager Spreads,Leveraged Funds Longs,Leveraged Funds Shorts,Leveraged Funds Spreads,Other Reportable Longs,Other Reportable Shorts,Other Reportable Spreads,Total Reportable Longs,Total Reportable Shorts,Non Reportable Longs,Non Reportable Shorts
Date,,,,,,,,,,,,,,,,,
2006-06-13,226641,34944,110033,28834,22352,17391,5138,47535,7570,9892,6523,2561,640,155856,182058,70785,44583
2006-06-20,156363,15888,74780,6617,21190,14822,4809,35719,12877,9504,7396,1531,984,102105,125923,54257,30440
2006-06-27,175206,16392,86793,8530,20435,14770,4606,49147,11270,11408,6296,3008,1171,117985,141555,57221,33651
2006-07-03,193017,15241,96729,11188,18375,14517,5740,62455,11419,12520,6018,2182,1483,133018,155777,59998,37239
2006-07-11,192637,13037,108341,9357,18281,13091,6115,67082,10531,9755,6211,3031,1070,130908,161291,61729,31346
2006-07-18,179294,10081,86189,11564,22961,11973,4578,48561,10085,10591,7289,2437,1159,116783,138576,62512,40719
2006-07-25,172685,12672,79376,12662,23021,11973,5033,44826,13073,10581,7014,3414,1315,117124,137426,55561,35259
2006-08-01,187609,15301,99895,9920,18412,11964,7169,58063,8152,12390,7306,2337,1823,130384,153650,57225,33959
2006-08-08,204673,17554,124168,9659,17314,12104,7347,72929,6681,9719,7767,1521,2313,144601,173511,60072,31161
2006-08-15,204849,16201,123058,11856,18403,11443,6473,71486,6329,9395,8403,1098,1832,144047,171483,60802,33366
2006-08-22,203046,14275,116056,13852,16004,12589,5777,67107,6602,9952,8905,1106,1513,137384,167447,65662,35599
2006-08-29,197787,17787,107036,13989,16596,12312,5166,61824,7439,10860,7335,1064,1968,135525,159834,62262,37953
2006-09-05,198470,17573,108029,14292,17115,10746,5262,58712,8431,12285,7606,2533,1990,134834,163567,63636,34903
2006-09-12,185640,13368,94124,16836,18623,10035,3748,61071,11146,7156,5203,1167,884,126889,145097,58751,40543
2006-09-19,150897,9678,69959,6136,19127,9552,3373,46668,13156,7769,5641,2194,880,99270,113017,51627,37881
2006-09-26,159111,11333,82052,8514,19953,7662,3357,43132,11783,8338,7274,1049,946,102847,123700,56264,35411
2006-10-03,163759,10250,82680,9771,19907,6666,3366,49740,12186,9310,7040,1587,1576,110960,127141,52800,36618
2006-10-10,172274,17800,68659,9235,21592,5602,3566,41585,28543,10114,9802,2783,549,114243,129050,58031,43224
2006-10-17,178241,25379,65482,9057,23125,4641,3270,41202,33775,11405,7496,2408,954,121889,130992,56353,47249
2006-10-24,182181,30979,64891,9165,24035,5216,3240,40710,36230,11899,7856,2527,1259,129141,134427,53040,47755
2006-10-31,187326,13118,93609,14130,23419,4294,4048,55449,13694,13610,6214,3097,1393,131381,147874,55945,39452
2006-11-07,199717,15927,113184,13084,21998,4290,3227,68124,12817,11807,5662,5178,1113,140942,164699,58775,35018
2006-11-14,195647,19851,108468,13303,21620,4012,3662,55709,9242,12821,5369,3474,1238,133573,156222,62074,39425
2006-11-21,204445,26018,118223,13279,21390,3721,3212,57088,8019,13742,5518,3831,1984,142231,166012,62214,38433
2006-11-28,257426,29519,128309,22316,23573,2212,4592,67644,12726,26967,9146,1916,3637,187393,202675,70033,54752
2006-12-05,283216,33770,140964,27235,21673,4980,5873,76002,13715,31094,6399,3868,4901,206946,232629,76271,50587
2006-12-12,264790,27520,148970,31140,20010,6836,3231,82207,8248,13774,7181,3227,5788,190850,221213,73940,43576
2006-12-19,226594,21614,139165,9207,20810,10182,2905,77743,8739,13149,8187,2230,4692,158307,190270,68287,36323
2006-12-26,216185,20973,134699,8778,21462,9224,2831,69865,10589,13248,7088,1289,4586,148829,185242,67356,30942
2007-01-03,221982,24975,126789,12046,22775,9404,2766,63179,11375,13649,8130,3738,5015,152536,184783,69446,37200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-06-07,439240,74710,33401,30894,122898,98164,19655,39363,104024,52192,33942,21716,4753,378408,364800,60832,74440
2016-06-14,399544,81375,14993,25209,123231,97806,22327,33452,101906,37575,20518,29583,7039,350727,336438,48817,63106
2016-06-21,389356,85098,15019,24059,125976,94772,21279,20039,97174,40441,17253,28779,7590,341733,329112,47623,60244
2016-06-28,428876,87099,13585,29575,117469,93231,30491,45369,106370,48749,14532,36405,10195,383478,368601,45398,60275
2016-07-05,451001,110565,9928,29680,116455,96091,28290,45261,124739,50107,16217,38954,10267,406843,388056,44158,62945
2016-07-12,433770,124954,10254,19745,120372,96921,22312,38497,136964,38169,17175,35839,8453,389677,368657,44093,65113
2016-07-19,457340,139765,11012,20988,118508,93250,23504,40328,152246,41942,19634,37162,8593,413260,388696,44080,68644
2016-07-26,470462,150495,11248,22955,121475,94627,23983,36028,155356,43059,18624,41834,8172,424790,401233,45672,69229
2016-08-02,449286,138868,10629,19078,122938,96054,24135,24914,143721,42398,19952,39680,7907,400191,383602,49095,65684
2016-08-09,432970,141732,11120,19957,122383,95008,20614,19691,135620,37336,18538,39099,7943,388195,366698,44775,66272
2016-08-16,438077,129257,10422,21484,124694,98310,21708,22034,132588,41857,18984,36878,7971,387991,371218,50086,66859
2016-08-23,438678,120456,24784,21405,128029,98050,21445,25197,119503,43156,18566,34767,8043,386298,371154,52380,67524
2016-08-30,439005,120652,18878,22936,130538,101969,18617,31653,124395,40231,16933,35698,7444,389005,370168,50000,68837
2016-09-06,443910,129573,16486,27994,126367,104231,18558,25452,121145,44860,15617,33732,6211,394633,373218,49277,70692
2016-09-13,428594,119527,23204,21404,126540,95445,18654,23866,112164,46434,15705,31886,8164,380294,357354,48300,71240
2016-09-20,375526,93496,7551,14790,125827,101635,16671,21781,110100,31666,18368,24658,5572,328171,312643,47355,62883
2016-09-27,382409,82271,11098,18873,135287,100978,14823,21452,107399,36475,19660,27074,5824,334665,322545,47744,59864
2016-10-04,408599,85860,8462,25342,142915,101177,15120,23507,118928,41329,16444,24501,8404,358921,343263,49678,65336
2016-10-11,438754,103758,11680,28371,146217,102752,14355,28387,141056,40532,18545,24582,8873,389039,372201,49715,66553
2016-10-18,478817,126691,10912,31021,151710,105983,15711,31532,171081,44880,18207,24144,9110,428862,412843,49955,65974
2016-10-25,525971,154449,13227,35809,137875,106498,15688,49077,200751,50134,17292,24662,9949,470272,456718,55699,69253
2016-11-01,516082,168266,11871,31995,138481,103181,14722,36719,199716,51638,16023,25107,8710,466554,446941,49528,69141
2016-11-08,477706,145672,25328,30098,140414,98469,13609,37446,178874,36590,18350,24105,7590,429769,414663,47937,63043
2016-11-15,491821,129447,26462,35728,140331,95488,14878,35457,167601,47669,21261,25774,9602,434373,423200,57448,68621
2016-11-22,523899,134364,19435,40352,139069,95718,18023,40735,179132,54845,23733,31534,11333,462454,450372,61445,73527
2016-11-29,543596,146274,20096,42848,142048,97846,17750,37472,197032,60345,22142,23488,11942,480821,471347,62775,72249
2016-12-06,533439,132498,24666,48985,138272,101610,17792,37378,169036,63667,24731,25737,11018,474341,462510,59098,70929
2016-12-13,516828,107482,27293,74891,139247,93823,14550,39545,155171,40445,28423,25688,14234,458817,446095,58011,70733
2016-12-20,483844,118022,55217,22692,140405,95214,16019,38936,140340,49912,30110,25749,10635,426731,415777,57113,68067
2016-12-27,486557,123159,53944,22019,138810,99268,15410,42121,144509,47415,30242,26704,10198,429375,419468,57182,67089